[2017-03-19 20:58] mzomparelli opened #1 "App doesn't close when logging off Windows"

[2017-03-19 21:12] mzomparelli commented on #1
Issue is fixed in release 1.0.1

[2017-03-19 21:12] #1 closed, assigned to mzomparelli

[2017-03-20 00:52] mzomparelli opened #2 "Configurable Hotkeys"
Allow user to configure the hotkeys via a settings form.

[2017-03-20 01:31] mzomparelli opened #3 "Add System Tray Menu Items to Switch Desktops"

[2017-03-20 01:31] #3 closed, assigned to mzomparelli

[2017-03-20 01:58] mzomparelli opened #4 "Add variations of system tray icons"

[2017-03-20 02:35] #4 closed, assigned to mzomparelli

[2017-03-20 04:13] mzomparelli opened #5 "Specific Wallpaper for each desktop"
I will create up to 9 since it will be in sync with the numpad.

[2017-03-20 05:33] #5 closed, assigned to mzomparelli

[2017-03-21 23:05] mzomparelli commented on #2
I'll get to this when I feel like it. I like the hard-coded hotkeys so for me this is not an urgent issue.

[2017-03-21 23:24] mzomparelli opened #6 "Add Style Option for Wallpapers"
Like Stretched, tile, etc...

[2017-03-22 00:52] #6 closed, assigned to mzomparelli

[2017-03-30 22:28] mzomparelli opened #7 "Settings Aren't Loading Properly From Program Startup"
I've noticed that even though the settings show that I want to use the Blue icons, it still defaults to Green on program startup.

[2017-03-30 22:34] #7 closed, assigned to mzomparelli

[2017-03-31 14:23] mzomparelli opened #8 "Add Hotkeys to Move Window and Follow it to the Desktop"
I already h ave the ability to follow a Window when you move it, but I have not implemented that to the user. Would like feedback as to what the default hotkey should be for that.

[2017-03-31 14:37] mzomparelli commented on #8
I'm going with hotkey CTRL+WIN+ALT+Numpad to move a window and follow it to the desktop.

[2017-03-31 14:54] Kinmarui commented on #8
Sounds good,
also having CTRL+WIN+ALT+LEFT/RIGHT would be great

[2017-03-31 15:02] mzomparelli commented on #8
I just built the CTRL+WIN+ALT+Numpad Hotkey. I will add the left and right before I create a new release.

[2017-03-31 15:03] mzomparelli commented on #8
Is left and right very useful since we can specify exactly which desktop we want by using Numpad? I'll add just because you like it.

[2017-03-31 15:04] #8 closed, assigned to mzomparelli

[2017-03-31 15:05] mzomparelli opened #9 "Move, Navigate, and Follow with Left and Right Keys"
I will create these:

WIN+ALT+LEFT or RIGHT: Navigate left or right
CTRL+WIN+LEFT or RIGHT: Move window left or right
CTRL+WIN+ALT+LEFT or RIGHT: Move window left or right and follow to that desktop

[2017-03-31 15:10] Kinmarui commented on #8
It may be useful if I have only 2 v-desktops, then it feels more ergonomic than using numbers.
Btw you say numpad but it should work with numbers above qwerty also? Important for laptops without separate numpad.

[2017-03-31 15:13] mzomparelli commented on #8
I thought about using the numbers above the letters, but I currently use those for a clipboard app I created. I need to finish the form that allows users to configure the hotkeys so they can choose those number keys if they want to.

[2017-03-31 15:15] mzomparelli commented on #8
How do you like the app as it is now? Any issues, errors? I hope you get good use out of it and please share the GitHub link with anyone you think would like it.

[2017-03-31 15:24] Kinmarui commented on #8
No problems,
as you know before I used
https://github.com/Eun/MoveToDesktop (very lightwaight, but no ability to move to #number desktop)
with
https://www.facebook.com/Win10VirtualDesktopSwitcher

but if you implement task movement between desktops then I will use your solution only :)

[2017-03-31 15:40] mzomparelli commented on #8
What do you mean by "Task Movement"? Are you referring to moving windows with left and right arrows and following the window to the desktop?

[2017-03-31 15:48] Kinmarui commented on #9
FYI win+ctrl+arrow is windows buildin function ;)

[2017-03-31 15:54] mzomparelli commented on #9
I still might be able to override Windows with my implementation. Not sure if I want to though. I'm trying to keep the hotkeys similar so it's easy to use. Thanks for letting me know this. What is your preference? Do I override Windows, choose new hotkeys for the same action, or do we just use the Windows hotkeys only for left and right?

[2017-03-31 16:03] Kinmarui commented on #9
I would leave default where possible it will help transition for new users

[2017-03-31 18:29] Kinmarui commented on #8
Yup, sorry i wasn't clear about it

[2017-03-31 19:14] mzomparelli commented on #9
ok, this is done and I'm making the release now. I changed my hotkeys to match the default Windows one.

Navigate:
CTRL+WIN+Arrow or NumPad

Move:
ALT+WIN+Arrow or NumPad

Move & Follow:
CTRL+WIN+ALT+Arrow or NumPad

[2017-03-31 19:14] #9 closed, assigned to mzomparelli

[2017-04-01 01:37] mzomparelli opened #10 "Add a way to move all windows to a specific desktop"
I'm thinking a menu item in the system tray icon that says "Gather All Windows".

Opinions?

[2017-04-01 21:51] #2 closed, assigned to mzomparelli

[2017-04-01 21:59] mzomparelli opened #11 "Where are the settings stored?"
If you're looking for the settings file, it is stored in `IsolatedStorage`.

Search through the subfolders within the below folder and you should find a file named `zVirtualDesktop.bin`

`C:\Users\[username]\AppData\Local\IsolatedStorage`

Warning: It's not pretty, but it works. Also, because it is a binary file you can't modify directly in notepad. You can see the text though if you are intereste

[2017-04-02 00:28] oywino opened #12 "What's the difference between a pinned app and pinned window?"
As the title says - I fail to understand the difference.
I tried both, and what it did was to spread the current active window/App across all desktops.
I assume there must be a logical difference, but I couldn't figure it out.

[2017-04-02 00:33] oywino opened #13 "Maintain focus on moved Apps"
When I move&follow an App/Window, I must always re-focus (click inside it) in order to continue working with it. Like if I am typing in Word and decide to move&follow it to another desktop. Then typing away as usual does nothing. I have to clik first to re-activate focus. Then I can type again.
Can it be fixed so that focus also follows the windows/App?

[2017-04-02 00:44] oywino commented on #11
Well, it doesn't seem to store settings at all on my PC.
If I exit zVD and then restart it, all the wallpapers are forgotten. The same happens when I reboot.
I hope it's me doing something wrong, cause this isn't very practical....

[2017-04-02 01:25] mzomparelli commented on #11
It has to run from the same location everytime otherwise it looks like a different app I guess and it creates a different IsolatedStorage path. I assume you see this effect if you always unzipped it to run it. Did you put it in startup folder? Just type "startup" in the address bar of Explorer and it will take you there.

The main reason I have this as a single executable is so that it can run dir

[2017-04-02 01:31] mzomparelli commented on #13
This is fixed v1.0.6. I'll publish it very soon.

[2017-04-02 01:33] #13 closed, assigned to mzomparelli

[2017-04-02 01:35] mzomparelli commented on #12
An easy way to imagine this is if you use pin window on a chrome browser window, only that window will be visible on all desktops. Any other chrome windows would stay on a single desktop. If you were to pin application on a chrome window then all chrome windows would show up on all desktops. This includes new chrome windows.

[2017-04-02 01:51] mzomparelli opened #14 "Redesign the settings file and location"
Make the settings file easier to work with and save it in a path that is easier to get to.

[2017-04-02 04:33] mzomparelli commented on #11
I opened issue #14 for redesigning the settings. It's open to suggestions.

[2017-04-02 07:06] oywino opened #15 "Mouse Navigation - Using a minimum of clicks to jump desktops"
Let me first say thank you for making this utility and for letting us know about it. It's fantastic! :-)
Adding "Switch Desktop" to the icon right-click was a good idea. It saves us from having to move our hands over to the keyboard all time. But it still can't outperform the Windows built-in Task-View desktop switcher. Neither in number of clicks needed, nor in visual effects. So essentially, you

[2017-04-02 07:17] oywino opened #16 "New Icons"
Windows 10 has a setting where all default system tray icons are minimalstic white lines. I'd like to have zVD icon that looks the same. Similar to your White Box, but with white lines instead of black lines.

[2017-04-02 08:29] oywino opened #17 "Shortcut jump fails sometimes"
I'm on v1.6
I'm on Desktop 1 and I have Another App (VNC Viewer) running on Desktop 4.
All running apps also appear on my taskbar.
I could hit Ctrl-Win-4 to go to desktop 4 where I know VNC Viewer is running, but even faster is just to click the VNC Viewer taskbar icon (especially if I do not recall exactly which desktop it is currently using). Then Windows jumps to desktop 4 right away.
However,

[2017-04-02 14:52] mzomparelli commented on #15
Thanks for the feedback. I like your suggestion. I'll see what I can do about adding it.

[2017-04-02 14:56] mzomparelli commented on #16
@oywino Yes, those icons need work. I left Whitebox and Blackbox in so that someone would see them and fix them. I will fix them soon.

What is this minimal feature in Windows 10 you speak of? How do I activate it? I don't think I've seen this yet.

[2017-04-02 14:57] mzomparelli commented on #17
@oywino Thanks for pointing out this bug. I will try to reproduce it so that I can fix it.

[2017-04-02 15:07] mzomparelli commented on #17
@oywino Are you saying that when this happens that even the system tray icon does not tell you that you are on desktop 4? I've tested this it appears that the keyboard and mouse are going to the remote computer. This actually makes sense. If I was using a remote PC I would like to be able to use hotkeys on that remote PC instead of it triggering the hotkeys for the client PC. If this only happens

[2017-04-02 16:53] mzomparelli commented on #16
I fixed these icons in v1.0.7. I am working on some new ones too. If you'd like to design a set then a good app for that is http://icofx.ro

Send me any you create and I'll add them with a name of your choice.

[2017-04-02 19:42] mzomparelli commented on #15
@oywino What if I make a double click or a single click of the system tray icon bring up the Task View page?

[2017-04-02 21:07] oywino commented on #15
You mean - bring up the Windows Task-View page?
Just as if I had clicked the Windows Task-View icon instead?
No, that can't be what you have in mind (?)
I mean, there are only a few real issues with the Windows standard Task-View feature as is. The main issue is that it is a bit overwhelming to be seen as a snappy and quick way to jump between Desktops.
You have created an elegant way to jump usin

[2017-04-02 21:10] oywino commented on #17
No, the number in the Tray Icon is correct. So I guess you are right. Sorry for bringing it up.

[2017-04-02 21:18] oywino commented on #16
Here's a sip of my desktop: http://i.imgur.com/awH1844.jpg
You see how the zVD icon differs from the others. That's what I mean.
I'll be happy to experiment with icofx.ro but I'm not sure I'll be able to find time before towards the end of April.

[2017-04-02 21:52] mzomparelli commented on #15
ok, I'm following what you're saying. I'll see what I can do.

[2017-04-02 21:52] mzomparelli commented on #17
No problem. Don't hesitate bringing anything up. And certainly don't be sorry for bringing it up.

[2017-04-02 21:53] #17 closed, assigned to mzomparelli

[2017-04-02 21:55] mzomparelli commented on #16
I see what you're saying about the icons. I'll make another set to be just like you have in your screen shot, but will be white instead of black. In the meantime, I think the fixed WhiteBox will look good on your machine.

[2017-04-02 22:36] mzomparelli commented on #16
I just made a new set of icons that should match better for you. They aren't perfect, but they are not bad. You can use them if you download the pre-release v1.0.9. You can get this version by using the green download button from the main repository page.

Here's a screen shot
http://imgur.com/a/FCsAv

[2017-04-03 01:55] mzomparelli commented on #15
I'll admit that the "Switch Desktop" takes an extra click, but this app allows me to remove the Task View button from my taskbar. This frees up valuable taskbar real estate.

[2017-04-03 05:29] oywino commented on #15
Oh, now I see. So by duplicating the Task-View, the gain for me as a user is that I can remove the Task-View!?
Well, that makes sense, not so much to save space, but to avoid having move the mouse between zVD and Task-View which happen to on the far opposite of my screen :-)
Let's do that and see how it turns out.

[2017-04-03 05:49] mzomparelli commented on #15
You do realize there is a Windows hot key to open the task view, right? WIN+TAB

Which is a left-handed operation, but I do like the idea of opening the task view by clicking the zVD system tray icon.

[2017-04-03 06:12] oywino commented on #15
I agree.... Then the objective here to evaluate if a feasible mouse-only alternative exists... :-)

[2017-04-03 18:54] oywino opened #18 "Round Robin"
Hi, I was under the impression that when I use Ctrl-Win-RightArrow and reach the last Desktop, it would roll over to the beginning again.... ? (And vice versa)

[2017-04-03 22:57] mzomparelli commented on #18
Remember, CTRL+WIN+Arrow is a Windows default. I can try overriding the default.

[2017-04-03 22:58] mzomparelli commented on #18
Also, thanks a lot for the donation. That means a lot to me and I really appreciate it.

[2017-04-04 01:41] mzomparelli commented on #18
Sorry, my day job kicked my ass today and I ended up bringing work home with me. I'll look into this as soon as I can.

[2017-04-04 04:05] mzomparelli commented on #15
@oywino You can now click to open task view!

Only in the latest pre-release

https://github.com/mzomparelli/zVirtualDesktop/blob/master/zVirtualDesktop/bin/Release/zVirtualDesktop.zip?raw=true

[2017-04-04 04:05] #15 closed, assigned to mzomparelli

[2017-04-04 04:25] mzomparelli commented on #18
I set the code up to round robin like you want. You can create your own hotkeys for next and previous and it should work like you expect. I'm still considering overriding the default ones.

I haven't tested it. I'm hoping you do that and provide feedback.

https://github.com/mzomparelli/zVirtualDesktop/blob/master/zVirtualDesktop/bin/Release/zVirtualDesktop.zip?raw=true

[2017-04-04 04:29] mzomparelli commented on #18
Actually, the above is true for moving windows and following, but not true for navigation. For that I need to redesign it a little bit.

[2017-04-04 07:56] mnsc commented on #12
This should be on the readme. Great functionality but I didn't get how it worked, especially this difference, at first.

[2017-04-04 14:28] mzomparelli commented on #12
Thanks for the feedback. I will update the readme.

[2017-04-04 14:56] mzomparelli opened #19 "Comment here if you found the Easter egg"
HINT:
You'll find it on the settings window.

[2017-04-04 16:15] oywino opened #20 "1.0.10p the zVD setting window always pops up"
I noticed in 1.0.10p that whenever I now click on the Windows Task View icon, the zVD setting window always pops up next to whatever else is on that desktop.
If the desktop is empty, only the zVD window pops up.
That does seem like a bug (and not an Easter egg).....

However - while searching for eggs, I noticed a new feature; Alt-LeftClick on the zVD taskbar icon :)

[2017-04-04 16:26] oywino commented on #16
It would be easier to contribute if you would provide a zip with all the ico files you are currently using. Then we could continue from the one we prefer, using icofx...

[2017-04-04 16:54] mzomparelli commented on #20
Yes, i noticed this and it's the result of how I use the main form as the settings window. I will fix this before 1.0.10 is released.

[2017-04-04 16:56] mzomparelli commented on #16
Ok, I will zip the icons folder and provide a link.

[2017-04-04 17:06] mzomparelli commented on #20
ALT+LeftClick is new to me. It's the equivalent of doing ALT+TAB and it is a side effect of adding the feature of opening the Task View with the icon. A nice side effect!

This also is not the Easter Egg. A hint....the Easter Egg is a picture of my dog about to be attacked by a pack of pigs.

[2017-04-04 17:16] oywino opened #21 "New icons"
I've made two sets for you to evaluate. They're not fancy at all, just plain'n'simple win10 style.
[Icon-9_1.zip](https://github.com/mzomparelli/zVirtualDesktop/files/893930/Icon-9_1.zip)
[Icon-9.zip](https://github.com/mzomparelli/zVirtualDesktop/files/893931/Icon-9.zip)

[2017-04-04 17:42] mzomparelli commented on #21
Very nice! What would you like to name them?

[2017-04-04 17:51] oywino commented on #21
The ones in 9_1 is called "Agency" and the ones in 9 is called "Narrow"

[2017-04-04 22:01] mzomparelli commented on #20
This is fixed. I will publish a full release of 1.0.10 once I add your icons and try to deal with other issues.

[2017-04-04 22:02] #20 closed, assigned to mzomparelli

[2017-04-04 22:13] mzomparelli commented on #21
These icons have been added. I will release version 1.0.10 soon.

[2017-04-04 22:13] #21 closed, assigned to mzomparelli, oywino

[2017-04-04 22:23] mzomparelli commented on #12
I added this to the readme.

[2017-04-04 22:44] mzomparelli opened #22 "What's your favorite icon theme?"
Mine is White Box and my second favorite is Numpad - White.

[2017-04-05 00:24] mzomparelli commented on #10
Anyone know how to get all the visible window handles from every desktop?

[2017-04-05 00:33] #16 closed, assigned to mzomparelli

[2017-04-05 00:38] mzomparelli opened #23 "How to submit icon files"
If you would like to submit new icons for me to add to the program then follow the below steps:

**Step 1.** Create a set of icons (no more than 9) - 32x32 or 48x48 and do not include more than one size in each icon file.
**Step 2.** Name each icon accordingly - [IconThemeName]_[IconNumber]
**Step 3.** Zip your icons
**Step 4.** Open a new issue with the title of "New Icons" and a comment that lin

[2017-04-05 02:29] mzomparelli opened #24 "Add menu items to each window's system menu"
Similar to another project in GitHub, this would add menu items to each window's system menu to move and pin them.

[2017-04-05 18:21] oywino commented on #21
Thanks for including my Icons. However, they did not quite look as I expected. I think I need some more guidelines. I used 128x128 size. The white border line becomes invisible. The Agent font is too small, and the Narrow font could also be larger, but not necessarily thicker. I was hoping to find the font MS used for the clock and date, and just frame it.

[2017-04-05 18:33] mzomparelli commented on #21
128x128 might be too large. All of the ones I created are 32x32 or 48x48. I see if I can make a set to your liking with the clock font.

[2017-04-05 18:35] oywino commented on #21
Thanks :-)
I'm leaving for Easter holiday now and will not be back before April 20, so it will be quiet from my side for a while. I wish you a nice Easter.

[2017-04-05 18:46] mzomparelli commented on #21
Thank you! You have a nice Easter too!

[2017-04-05 19:09] Kinmarui commented on #10
Have you seen this http://stackoverflow.com/a/1032959/1678568 ?

[2017-04-05 20:04] mzomparelli commented on #10
I have not seen this. Thanks! It looks like exactly what I need.

[2017-04-06 01:16] mzomparelli commented on #10
Thanks @Kinmarui , this is now a working feature!

[2017-04-06 01:16] #10 closed, assigned to mzomparelli

[2017-04-06 03:03] mzomparelli opened #25 "Additional Languages"

[2017-04-06 03:05] mzomparelli commented on #25
Russian
Spanish

[2017-04-06 12:37] mzomparelli opened #26 "Should automatically create additional desktops"
When a user tries to navigate or move a window to a desktop number that they don't have then the app should automatically create the additional desktops.

[2017-04-06 12:41] mzomparelli opened #27 "Pressing the X on the settings window closes the app"
It should not do this.

[2017-04-06 12:49] mzomparelli opened #28 "Copy Hotkey List to Clipboard"
Some uses would like to print the hotkey list so that they can use as a cheat sheet.

[2017-04-06 19:14] mzomparelli opened #29 "Don't try and move windows that are pinned"
Check if the window is pinned before trying to move it or get the desktop number. It causes an exception otherwise.

[2017-04-06 22:26] mzomparelli commented on #27
This is fixed. I will post a new version soon.

[2017-04-06 22:26] #27 closed, assigned to mzomparelli

[2017-04-06 22:28] mzomparelli commented on #29
This is fixed. I will post a new version soon.

[2017-04-06 22:28] #29 closed, assigned to mzomparelli

[2017-04-06 22:32] mzomparelli commented on #26
This is fixed. I will post a new version soon.

[2017-04-06 22:32] #26 closed, assigned to mzomparelli

[2017-04-06 23:09] mzomparelli commented on #28
I added the ability to copy the hotkey list to the clipboard.

[2017-04-06 23:09] #28 closed, assigned to mzomparelli

[2017-04-07 13:51] arieljannai opened #30 "Create a new desktop when trying to move windows to non-existence desktop"
If I have only one desktop open, and I'm trying to move a windows to the right (with alt+win+right) it does nothing, since there's no desktop on the right. I think it should create one automatically.

And also - maybe add an option to automatically close empty desktops

thanks!

[2017-04-07 14:52] mzomparelli commented on #30
It should already create desktops as needed. Are you using version 1.0.21. Download that version and see if this issue still occurs and report back please.

I will look into removing unused desktops.

[2017-04-07 14:55] arieljannai commented on #30
Yep, I'm using 1.0.21 - just started using it today.
Any idea? Are there any logs I can look at?

Winver: 1607 (build 14393.969)

[2017-04-07 15:00] mzomparelli commented on #30
I'm testing this now and it is working fine in version 1.0.21. I deleted all my desktops and tried moving and navigating to a non-existent desktop and it created it for me and all of the necessary ones in between.

I will implement logs in the next version so we can get tot he bottom of this. In the meantime, just create your desktops ahead of time.

I am running 1607 14393.953 at work and a diffe

[2017-04-07 15:03] mzomparelli commented on #30
For my own curiosity, would you be willing to tell me where you heard about this app?

[2017-04-07 15:06] arieljannai commented on #30
Saw it in a comment in another gh project, which to it I arrived from a SO question

[2017-04-07 17:47] mzomparelli commented on #30
@arieljannai Ok, so what I did here was implemented Round Robin. This means that if you have 2 Desktops and are on Desktop 2 and move a window to the right it will actually go to Desktop 1. When it reaches your last desktop it starts over. One of my users requested this. Please let me know if you are seeing it work the way I have described and I would love your feedback on that feature.

[2017-04-07 22:40] mzomparelli commented on #30
@arieljannai Having 9 desktops isn't too much impact on the system so I'm not sure I will implement a feature to remove unused desktops. I'll create a issue for it asking for feedback.

[2017-04-07 22:41] mzomparelli opened #31 "Remove desktops when there are no windows on it"
Please post your feedback on this. I'm not sure this is that important since having 9 desktops isn't that much impact on the system.

What do you all think? Should I implement this feature?

[2017-04-08 01:40] mzomparelli opened #32 "Add hotkey for bring all windows here"

[2017-04-08 01:48] mzomparelli commented on #32
Done in 1.0.22

[2017-04-08 01:48] #32 closed, assigned to mzomparelli

[2017-04-08 13:02] arieljannai commented on #30
The Round Robin works great 💪
Thanks! I'll just keep another one always opened

[2017-04-08 13:02] #30 closed, assigned to mzomparelli

[2017-04-08 20:10] mzomparelli commented on #18
I'm still working on overriding the default windows hotkeys. I'm still not sure it is worth a round robin effect.

[2017-04-08 20:27] mzomparelli opened #33 "Hotkeys for custom actions not just Virtual Desktop related"
I want to allow people to create hotkeys for custom actions. What would you guys like? For instance, hotkey to open app or folder.

[2017-04-09 01:08] mzomparelli commented on #31
I created a menu item that removes unused desktops.

[2017-04-09 01:08] #31 closed, assigned to mzomparelli

[2017-04-09 16:26] mzomparelli commented on #18
@oywino , I've been successful in overriding the CTRL+WIN+Arrow with my own implementation. The problem is, with this method you can't create a standard hotkey for it because this method overrides all hotkeys that I choose. I might switch my hotkeys to use this method. What this means is that if you create a 'hotkey' in my app then it would override any hotkey already there without warning. This i

[2017-04-09 16:42] mzomparelli opened #34 "Named desktops and overlay indicator when switching desktops"

[2017-04-09 19:39] mzomparelli commented on #18
v1.0.23 - I added a check box on the hotkey tab that allows you to override the default windows hotkeys for this action. If you check this box then you will get the round robin effect you like when navigating the desktops with the arrow keys.

[2017-04-09 19:39] #18 closed, assigned to mzomparelli

[2017-04-10 00:02] mzomparelli commented on #14
This app has outgrown the current settings implementation and I am working on another way. When I make the switch, everyone will have to redo their settings as the current settings file will not be compatible with what I'm working on.

[2017-04-10 03:39] mzomparelli commented on #14
v1.0.24 - The settings file has been redesigned and everyone will need to redo their settings. Sorry for this. The new design is much better.

[2017-04-10 03:39] #14 closed, assigned to mzomparelli

[2017-04-10 07:19] mzomparelli opened #35 "Create Any Hotkey (Override Defaults) - v1.0.25"
I added a Override All check box to the Add Hotkey form. Checking this box will override any defaults.

[2017-04-10 07:19] #35 closed, assigned to mzomparelli

[2017-04-10 15:37] pcause opened #36 "pin an app to only run on a desktop"
What i'm really looking for is a way to get an app to always run on a specific desktop.  i'd hoped pin app/window would do this but it does the opposite (all desktops).  is there a way to add an "always open app X and all windows on desktop Y" to the app?

[2017-04-10 17:16] mzomparelli commented on #36
@pcause I love this idea. This should be pretty easy to add. It might show up on the current desktop at first then be quickly and automatically moved to the desktop of your choosing. Would that be an acceptable implementation?

[2017-04-10 17:19] mzomparelli commented on #36
Another thing we could do...picture this.

You want all Chrome windows to open on desktop 2 and you are currently on desktop 1. When you open Chrome, the Window will be moved and you will automatically follow it to desktop 2. You would be able to configure it to follow or not.

[2017-04-10 17:20] mzomparelli commented on #36
Now that I think a little more, I guess you would always want to follow it otherwise you may not even know it opened.

[2017-04-10 17:33] mzomparelli commented on #36
@pcause what would you name this effect? Pin is already used so we need a name for this.

[2017-04-10 18:01] pcause commented on #36
thanks.  How about "app affinity" or "wired desktop"

[2017-04-10 18:02] mzomparelli commented on #36
Those are options. Let's keeping thinking of a name. I was thinking of keeping it close to Pin and calling it Glue.

Glue the Chrome app to desktop 2

[2017-04-10 19:47] mzomparelli commented on #33
v1.0.26 - Now you can create hotkey to open a file. This can be any file from an application to an image to a text document. If you type in a URL as the file name then it will take you to that website.

[2017-04-11 06:45] navix opened #37 "Page Down key is missing"
There are two Page Up keys instead:
![screen](https://nvx.me/screens/2017-04-11_09-43-45_d6y98.png)

[2017-04-11 10:56] hansek opened #38 "Doubling of accent characters"
I have an issue with writing of accented characters in Czech language (e.g. `ď`, `ť`, ...) on Czech keyboard layout.

Standardly you can wrote those characters you need to firstly press `AltGr + ´` and then press target character (e.g. `AltGr + ´` and then `d` makes `ď`).

Since I have run zVirtualDesktop, it probably catches the first keystroke and system don't wait for another character and dire

[2017-04-11 14:50] mzomparelli commented on #37
Thanks for pointing this out. I'm not sure how this would have happened, but I will investigate tonight.

[2017-04-11 14:55] mzomparelli commented on #38
Thanks for pointing this out. I'll see what I can figure out. AltGr should be the equivalent to my Right Alt button and I am not handling this for accents. Currently I'm handling that as a standard ALT. I'll investigate further tonight.

[2017-04-11 16:50] mzomparelli opened #39 "Windows Key stays pressed when using WIN+L to lock computer"
After returning and unlocking my PC from locking my PC with WIN+L, it appears the WIN button is looking like it's pressed when it is not. I will fix this issue tonight.

[2017-04-11 20:40] mzomparelli opened #40 "You Might Need to Restart the App After Returning From Hibernation or Sleep"
I will be investigating this issue more tonight. One of my co-workers noticed that the system tray icon became unresponsive and we had to kill the app in Task Manager. The only thing I can think of is that she brought the computer up from sleep or hibernation.

[2017-04-11 20:45] mzomparelli commented on #38
@hansek I'm trying to understand how you would press these keys. Is it all one single combination or separate:

Like this...
AltGr + ` + d

Or like this...
AltGr + `
release above then press D

or like this....
AltGr
release
`
release
D
release

[2017-04-11 21:23] hansek commented on #38
@mzomparelli it's like the second option you wrote:

You can try it if you'll install Czech (QWERTZ) keyboard layout.

[2017-04-11 22:27] mzomparelli commented on #37
For some stupid reason the Next and Prior keys are used for PageUp and PageDown respectively.
I made the box sort now and I will continue to think about how I can make this easier for all of you. I've also changed it so that it reads the enum names instead of values. Some of them have the same value which is why it grabs the first and duplicates it. I changed that to get the enum names, but I'm no

[2017-04-11 22:40] mzomparelli commented on #37
After digging deeper, it goes like this. If you want PageDown then use next. If you want PageUp then use PageUp. WTF. You will need an update so you don't see duplicates. Keep a lookout for version 1.0.28 tonight. 1.0.27 should prompt you to update when you open and an update is available.

[2017-04-11 23:59] mzomparelli commented on #37
I've made some changes here to make it easier to get the key you want. I'm going to try and handle another issue or two before I publish, but there will definitely be an update tonight. Unfortunately, these settings are now not compatible. I could have handled migrating the setting, but I'm too lazy for that right. It's not difficult to setup settings again. I know it's still an inconvenience so I

[2017-04-12 00:00] #37 closed, assigned to mzomparelli

[2017-04-12 00:08] mzomparelli commented on #39
This should be handled in 1.0.28. I will leave this open and test more tomorrow.

[2017-04-12 00:42] mzomparelli commented on #38
@hansek  This should be fixed in version 1.0.28. Actually, this version is for you to tell me if it's fixed :). I can't really tell. I used the keyboard and was able to get it to type a key that I'm not used to seeing, using RightALT+Accent then D. I don't know if this is correct or not. I will leave this issue open until you let me know. 1.0.28 will be out in the next 20 minutes.

[2017-04-12 01:04] #39 closed, assigned to mzomparelli

[2017-04-12 03:05] #40 closed, assigned to mzomparelli

[2017-04-12 04:41] hansek commented on #38
Ahhhh, I'm really sorry, now I see that I described a wrong form of typing this `ď` character. :(

The proper and windows standard way (which is still not working) how to write `ď` character is this:

1. press `Shift + ´` (firstly press `Shift`, hold it and press `´`)
2. release both keys
3. press `d`

Then the `ď` character should be printed on the screen.

[2017-04-12 05:58] mzomparelli commented on #38
ok, I think it's good now in v1.0.29. It's also way past my bed time. I'll leave this open pending your feedback. Thanks for your help.

[2017-04-12 06:04] hansek commented on #38
Perfect, now it works!

Thank you very much and have a great day (or probably night) ;)

[2017-04-12 06:15] #38 closed, assigned to mzomparelli

[2017-04-12 08:03] navix commented on #37
Thanks a lot, it works fine now.

[2017-04-13 19:43] mzomparelli commented on #33
You can now chose hotkeys to "Bring All Windows Here", "Remove Empty Desktops", Minimize the foreground window, and close the foreground window.

[2017-04-13 20:15] mzomparelli opened #41 "What? No Bugs to Report! I guess that's a good thing, right!"

[2017-04-14 00:14] #41 closed, assigned to nobody

[2017-04-14 16:56] mzomparelli commented on #33
I added a hotkey action to toggle top most window for the current foreground window. This can be a handy feature. I will publish this in v1.0.30

[2017-04-15 02:43] mzomparelli commented on #33
v1.0.30 will have hotkey actions for multimedia keys. Good for those with keyboards lacking these keys or those that just want to use their own key combinations.

[2017-04-21 07:07] oywino opened #42 "Repo cluttered?"
Hi, I tried to to download zVD from the main download button, but all I got was a 4k empty ZIP.
The latest available version I found in the repo was 1.0.22
So I installed that and upon first time launch, it tells me the 1.040 is available, but that just points back to the same empty 4k ZIP.
In one of your previous posts, I found a link to 1.0.30, so I installed that instead and it has the round-ro

[2017-04-21 07:20] hansek commented on #42
I'm confirming this issue, it's look like there is an issue in the IIS server configuration.

[2017-04-21 12:21] jan-glx opened #43 "No longer open source"
I just noticed that zVirtualDesktop is no longer open source. While this is sad for us but of course totally up to you, it is highly discouraged to silently change the license. Please make clear that  zVirtualDesktop is no longer open source (folder in repository suggest otherwise) and no longer free and open source software. Could you maybe explain why you did close your great project?
For everyo

[2017-04-21 14:07] mzomparelli commented on #42
Confirmed - I'm looking at my server now to figure out what is happening.

[2017-04-21 14:12] mzomparelli commented on #42
The link should now work from the main page. Let me know if you still have issues.

[2017-04-21 14:12] enumag opened #44 "Update not working"
I downloaded the latest zVirtualDesktop (1.0.22) from https://github.com/mzomparelli/zVirtualDesktop/releases. When I start the application it pops a message that a new version 1.0.40 is available. Which is odd as such version is not here on GitHub. When I try to download the 1.0.40 version the downloaded file is not a valid zip, just a html file with some error.

[2017-04-21 14:17] oywino commented on #42
Nope, the main page link is still not working for me. All I get is an empty (4k) ZIP-file.
But your direct link works.

[2017-04-21 14:19] mzomparelli commented on #43
I've added many things since I closed the source. You can still see my source using a .NET decompiler because I'm not doing any obfuscation at the moment. This app is still free for personal use and is also free to use at your work. You may not distribute my newer versions at work, but you may distribute outside of work. People can use your fork, but they lose new features and bug fixes and also s

[2017-04-21 14:20] mzomparelli commented on #42
thanks, I am investigating.

[2017-04-21 14:21] #44 closed, assigned to nobody

[2017-04-21 14:23] mzomparelli commented on #42
Looks like my zip was corrupt. I fixed that. Let me know if it's still broken.

[2017-04-21 14:23] oywino commented on #42
Also (for what it is worth), my AVG Antivirus system now reprots zVD v1.0.40 as malware, named IDP.Generic

[2017-04-21 14:23] mzomparelli commented on #44
My zip was corrupt on the server. The main link should work now. Let me know if you have issues with the main link.

[2017-04-21 14:28] mzomparelli commented on #42
yeah, I noticed that too. You can view the source with .NET decompiler which will show you my actual source since I am not obfuscating. I'm not doing anything malicious and I'm investigating why some version compiled trigger a detection while some don't. One thing I can think of is that I'm not signing my app. Anyway, thanks for pointing this out. I will continue to look into this.

Another thing

[2017-04-21 14:29] mzomparelli commented on #42
Free .NET Decompiler

https://www.jetbrains.com/decompiler/download/download-thanks.html?platform=windowsWeb

[2017-04-21 14:34] enumag commented on #22
Blue because it's the easiest to read. Still though it's just a small icon - it would be far better to have the desktop number and icons of the applications briefly shown in an overlay upon switching.

[2017-04-21 14:35] mzomparelli commented on #22
Thanks for the feedback. Would you mind creating a new issue to add the overlays? I like the idea!

[2017-04-21 14:41] mzomparelli commented on #44
I stopped doing releases on GitHub so that's why the release only goes up to version 1.0.22. The app checks for and downloads an update automatically now...that is, when everything is working properly. I do this because I'm still making changes and want every user to have the best possible experience.

[2017-04-21 14:43] enumag opened #45 "Overlay with a desktop number when switching"
When moving a fullscreen app I found it difficult to determine which desktop I'm on at the moment and whether I should stop or move more. Currently the only things I can use for orientation is on the taskbar which I'm not looking at when switching desktops.

A better thing would be to briefly show an overlay upon switching with some information:
- mainly the desktop number
  - later the desktop na

[2017-04-21 14:58] enumag opened #46 "Altdesk-like navigation bar for the desktops"
In my opinion the best software for virtual desktops is [Altdesk](http://www.astonshell.com/altdesk/). Unfortunately it is now a bit outdated but I'm still considering using it on Win 10 as well. Here is a screenshot how I was using it previously on Windows 7:

![altdesk](https://cloud.githubusercontent.com/assets/539462/25282804/dcab532c-26b1-11e7-9c25-63808c56d85b.png)

The benefits of this inte

[2017-04-21 15:03] mzomparelli commented on #46
Thanks for the feedback. I will look into program you mention and see what I can implement to make you a happy user of zVirtualDesktop. All comments are welcome here and I try to do what I can to make features that make my users happy.

[2017-04-21 16:00] mzomparelli commented on #42
I see that I failed to answer your question about the checkbox. This overrides CTRL+WIN+LEFT or RIGHT. It still moves you to a different desktop, but the default Windows implementation does not loop back around when you are on the last desktop. This feature has been called "Round Robin". Let me know if you need more explanation.

EDIT:

I realize you are referring to a checkbox that was on the Hot

[2017-04-21 22:25] #42 closed, assigned to mzomparelli

[2017-04-21 22:35] mzomparelli commented on #43
I was also kind of hoping that I would get some donations because I think this is a useful utility and I am spending my free time putting it together, maintaining it, and releasing it for everyone to use. I encourage everyone that finds this utility useful to reach into their pocket and send me a few dollars. Just a little something to say thanks for making this tool for us and continuing to impro

[2017-04-22 00:07] mzomparelli commented on #43
Free .NET Decompiler

https://www.jetbrains.com/decompiler/download/download-thanks.html?platform=windowsWeb

[2017-04-23 11:23] jan-glx commented on #43
Thank you for your answer, others might have just closed the issue! Some comments on it:
- I cannot image it to be hard to hide something from a decompiler.
- If the source is accessible anyway, why not provide it in the first place?
- I understand your wish to have complete control over the project to be able to make fundamental changes until you found a good program design but I am sure making t

[2017-04-23 17:04] mzomparelli commented on #43
You make good points here and the feedback is always appreciated. I'm going to take the time to respond to every point you made.

- .NET compiles into MSIL and meta details are still present if you don't perform any obfuscation or packing. This means that any .NET decompiler can present to you the actual source that I wrote. I confirmed this JetBrains dotPeek.

- The license in version 1.0.40 allo

[2017-04-23 17:28] mzomparelli commented on #43
I personally would have paid for a tool like mine. I made a point on March 8th about paying for an app that implements hotkeys.

https://github.com/Eun/MoveToDesktop/issues/42

Everyone has one where you can use AHK. I love AHK, but my app allowed me to uninstall it now that I can create hotkeys for other things in zVirtualDesktop.

If you would have made an app like zVirtualDesktop then I would h

[2017-04-24 21:13] ghost commented on #46
A similar feature that has a smaller profile on the taskbar is the taskbar pager in dexpot. This program is replacing dexpot for me, so that feature would be amazing! Here's a picture:
![image](https://www.classe.cornell.edu/~seb/celestia/images/dexpottbpager.jpg)

[2017-04-24 21:15] ghost commented on #34
You should totally add named desktops. I like the way dexpot does it, i.e. a brief overlay of text at the top of the screen when switching.

[2017-04-24 21:35] enumag commented on #46
@amrahman96 What made you abandon Dexpot?

In case of Altdesk it's not really part of a taskbar, it can be anywhere. And it's actually bad because the taskbar is imho the best position and Altdesk sometimes disappered behind it.

[2017-04-24 21:44] ghost commented on #46
Dexpot's developer, while still active on the forums, has not seemed to make any progress on the Win10 update for a couple years now. There are several bugs in win 10, such as crashing windows if I set it to run on startup (by any means), "ghost" windows for metro apps randomly appearing in the taskbar pager, and programs from other desktops randomly showing up on every desktops taskbar and alt+ta

[2017-04-24 21:49] ghost opened #47 "Option for alt+tab menu to only show current desktop's windows"
This would help each desktop feel much more like its own environment/workspace.

Thanks!

EDIT: Apparently there is a setting for this in windows settings, but it doesn't seem to work for me. I'll see if I can figure out what's happening.
EDIT: Looks like display fusion is causing the issue, not this.

[2017-04-24 21:57] #47 closed, assigned to nobody

[2017-04-24 22:30] mzomparelli commented on #46
I would just like to point out that for me, I'm trying to reduce what is on the taskbar. I usually know which desktop I put something on and I don't need any indicators that tell me what's on which desktop. If I do need that then I use the "Task View" view that Microsoft implemented.

As I think about how I would implement the feature you guys are talking about, one way was to mimic the Task View,

[2017-04-24 22:36] mzomparelli commented on #47
Can you tell me what that Windows setting is so I can try it?

As far as this issue...it appears to be working for me (only showing the windows for the active desktop in ALT+TAB) so it must be Fusion as you say. Still, I'd like to know where this setting is that you mention.

[2017-04-24 22:38] ghost commented on #47
Settings > System > Multitasking > Virtual Desktops
![image](http://i.imgur.com/otQDV5a.png)

[2017-04-24 22:49] ghost commented on #46
I think that's a pretty good idea. It might be nicer to do rows instead of columns, just so that you don't have to move the mouse as far, but otherwise I think that would pretty much satisfy my needs.

[2017-04-24 22:58] ghost opened #48 "Crash, might be related to using task view but I can't reliably reproduce it."
Here is the error message. I'll see if I can get more info the next time it happens.

An error occured navigating to the specified desktop. See additional details below.

The RPC server is unavailable. (Exception from HRESULT: 0x800706BA)

zVirtualDesktop::GetCurrentDesktop

[2017-04-24 23:00] mzomparelli commented on #46
ok, I'll head down that path then. I personally would prefer columns (in my head it makes more sense), but because of your feedback I feel it makes sense to allow the user to decide rows or columns.

[2017-04-24 23:03] mzomparelli commented on #48
Thanks for the info. I will investigate this issue. If you get more info then please post here.

[2017-04-24 23:06] mzomparelli commented on #48
Apparently the call to the underlying IVirtualDesktop interface failed which caused this error. Unfortunately, that's the extent of info I have right now.

[2017-04-24 23:19] mzomparelli commented on #48
How long was the app running before the crash? Did you move any windows or navigate since running the app and before crashing?

I ask because I might have identified an issue and I will be trying to test if it causes any issues. Basically, I store a variable that hold the number of desktops. This gets changed when desktops are removed or added, but I was not setting it at program start. I've added

[2017-04-24 23:34] ghost commented on #48
I was able to get it to crash a few times in a row by opening up task view and dragging a window to a new desktop, and then switching, but after those few times everything has been working perfectly. Here is the extended crash info:

<details>
  <summary>Spoiler </summary>
See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

************** E

[2017-04-25 00:28] mzomparelli commented on #48
Thanks for providing the stack trace. It's very helpful. I see that SystemTrayMenu_Opening was called. Did you right-click on the icon right before it crashed? I'm wondering if this was called via a left-click to open task view. It shouldn't be called on a left click.

[2017-04-25 00:33] ghost commented on #48
The sequence of events every time is that the system tray icon stops updating to show the current desktop, and if I try and switch desktops via hotkey, it doesn't switch and the error dialog from the first post comes up. Then, when I right click on the system tray icon, the error message with the stack trace comes up.
The error is happening pretty frequently, and it just happened without me ever o

[2017-04-25 00:38] mzomparelli commented on #48
I'm new to Display Fusion so I'm headed over to their site to check it out.

So far, you are the only one reporting a crash or unresponsive state so I suspect it could have to do with something running on your machine. Nonetheless, I still would like to get to the bottom of it and maybe I can do something with my app to help. The info you continue to provide is useful and greatly appreciated.

[2017-04-26 03:37] mzomparelli commented on #46
A little taste of what I'm working on. Feedback is welcome as always.

![image](https://cloud.githubusercontent.com/assets/10564234/25417156/b4080326-2a07-11e7-9f19-dad26da9c2de.png)

[2017-04-26 05:57] ghost commented on #46
A lot of my windows that I put on different desktops are chrome windows with the same title, since they are from different classes that use the same site (which irritatingly names tabs all the same). I was thinking you could do something like below, so that we could still see a nice preview of the window, and mousing over an icon would make that preview the big featured one. Not sure how easy this

[2017-04-26 12:24] mzomparelli commented on #46
Thanks for the feedback. I will look into this.

[2017-04-27 06:11] ghost commented on #48
I'm still not sure if displayfusion was responsible since I was able to run it for a full day without crashes with displayfusion closed, but it turns out I had some weird issues with windows, and now that I've fixed those, this seems to be running fine even with displayfusion. I'll update if anything changes, but I think for now this is resolved.

[2017-04-27 06:11] #48 closed, assigned to mzomparelli

[2017-04-27 23:18] mzomparelli commented on #46
I do like the way that program does it, but I want to try by columns first. I'm imagining the screen filled like the task view, but more like the image below. You'll get scroll bars if needed, but when full screen I could probably fit about 7 in each column. The column might have multiple columns in it depending how my desktops you have. I will evenly distribute the columns to fit the screen. Two

[2017-04-27 23:27] mzomparelli commented on #46
I just read your post again and realized you mocked that up in Photoshop. I thought you had a screenshot from AltDesk. Anyway, I feel like to move windows in your mockup I would have to hover over the desktop row to see the windows then I could grab a window and drag to another desktop. Is that what you were thinking? That's not bad idea. I'm envisioning all windows on the screen at all times so i

[2017-04-28 04:08] ghost commented on #46
That was pretty much my idea, but you would move things around by moving the icon squares up/down rows. Mousing over a row would show the windows on that desktop and mousing over a specific icon would make that window's preview the big one, but you wouldn't have to actually grab the window preview to move it, you would just use the icon.
With the previews, I do think that the column setup could al

[2017-04-28 09:21] ghost opened #49 "Option to decide what happens when a window is created on another desktop"
When a program creates a new window on a different desktop (e.g. creating a new word document when word is open on another desktop), the current behavior is the jump to that desktop, which can be pretty annoying.

Dexpot had the following options for when this happens:
Switch to the respective desktop
Move window to current desktop
Copy window to current desktop
Do nothing

It would be super usefu

[2017-04-28 13:51] mzomparelli commented on #49
I find it annoying that it moves me to another desktop when I open a new window and I have been thinking about adding a feature like this.

[2017-04-29 00:10] mzomparelli commented on #46
I'm making progress, but I've run into issues that are slowing me down while I try and figure out a solution.

Dragging and dropping between containers is proving to be difficult so this view is just a form with no separate containers.

I have a lot of windows that I need to filter out. This has always been a problem in this app that none of you have seen. This view brings visibility to that issue

[2017-04-29 00:34] ghost commented on #46
Is the problem with metro apps? Dexpot has this same issue (as mentioned [here](http://dexpot.de/forum/viewtopic.php?f=12&t=6078&start=20)), and it seems to have something to do with metro apps being pre-loaded by superfetch.
Actualtools seems to have [fixed this problem](https://www.actualtools.com/virtualdesktops/whatsnew/) (Search for "metro", it's the first one you'll find) but I'm not sure ho

[2017-04-29 00:40] mzomparelli commented on #46
As you can see from the screenshot in the previous post, yes, most of them are metro app. Thanks for the tip about superfetch. I'll look into it. That screenshot has a pile of thumbnails in the upper left corner that I just left there instead of spreading them out.

[2017-04-29 04:59] mzomparelli commented on #46
It works!

![image](https://cloud.githubusercontent.com/assets/10564234/25553031/ae539b20-2c6e-11e7-9ba8-1419914b1bfa.png)

[2017-05-01 04:04] mzomparelli commented on #46
I released version 1.0.41 that includes this. I'm going to give it a shot as rows like you suggested. I'm still looking for a way to filter these Metro windows.

[2017-05-01 06:07] oywino opened #50 "zVD identified as Virus"
Hi,
tonight zVD was killed, blocked and quarantined by AVG while running !
I assume as a result of an update of the AVG antivirus database.
My attempt to relaunch zVD resulted in aggressive attacks from AVG even though I tried to cancel the attack. Finally, Windows itself is now flashing a big blue "You cannot run this program on this computer" message across my screen.
I'm stuck.

[2017-05-01 12:33] mzomparelli commented on #50
I too had it bring up Smartscreen. You should be able to get passed that. As far as anti-virus. I'm sorry it's doing that, but I promise it will do nothing malicious if you add it to you exceptions in AVG. I am looking into this.

The odd thing is some trigger virus detection and some builds don't. I just scanned with virus total and it's very odd what it's triggering. This could be the result of

[2017-05-01 12:55] mzomparelli commented on #50
The blue screen you see is probably smartscreen filter and you should be able to get past that. I'm at work now, but I will check this out this evening.

[2017-05-01 16:48] mzomparelli commented on #50
I submitted v1.0.41 to AVG describing what this app does and why I think it's being flagged. If I want to solve this for good then I need to sign app, but getting a cert can be expensive.

https://secure.avg.com/submit-sample

[2017-05-01 16:54] mzomparelli commented on #50
One thing you could check is if the file is blocked by Windows. Right-click the file and click Properties. On the General tab look toward the bottom for a checkbox that says Unblock. Windows sometimes blocks EXEs that came from the internet. Especially when unzipped and the updater downloads the unzipped version from my site. If you got the exe from my site or the app updated itself (in which case

[2017-05-01 22:54] mzomparelli commented on #50
AVG is not showing as a virus through Virus Total.
https://www.virustotal.com/en/file/b408e10429cad565c8417fd125ecae5b90a4ab97003c47850777bab815fd3944/analysis/1493641868/

Nonetheless, I'm going to figure why these are being triggered and what I can do about it.

[2017-05-02 23:05] mzomparelli commented on #46
Soon I will release version 1.0.42 which makes the left most column the column for pinned windows. You can now pin and unpin simply by dragging into this column.

![image](https://cloud.githubusercontent.com/assets/10564234/25642835/ed2eec6e-2f61-11e7-8c65-cc204e1b484e.png)

[2017-05-02 23:31] mzomparelli commented on #50
AVG confirmed that version 1.0.41 does not trigger false positive with their software. Here is the email from them. Maybe you can provide what is being asked for in the email.

Hello,
Thank you for contacting AVG.
Please accept our apologies for all the inconvenience caused. Unfortunately the provided file doesn't seem to be detected by AVG.
We will be glad to analyze the issue but before that we

[2017-05-02 23:40] mzomparelli commented on #50
I'm leaving this issue open because zVirtualDesktop is being detected by some and I am continuing to deal with it by sending my app to be white listed. I encourage everyone to reply to this thread with any info they might be seeing from their anti-virus.

Once again, I would like to point out that I maintain all the code and my dev PC is not infected. These are false positives. I know it can be sc

[2017-05-03 03:39] mzomparelli commented on #46
I like my Desktop View a lot. It's growing on me. I use it in place of alt+tab when I'm not flipping back and fourth between two windows.

I figured out how to close those metro app windows. Simply use desktop view and right click on the window. It will take you there and open the window. Close it after it loads and it will be gone.

I'm going to close this issue. Further feedback can be done in a

[2017-05-03 03:39] #46 closed, assigned to mzomparelli

[2017-05-03 03:40] mzomparelli commented on #49
Handling this sounds difficult. Do you have any suggestions?

[2017-05-03 03:42] #43 closed, assigned to nobody

[2017-05-03 03:43] mzomparelli commented on #34
Closing this as is duplicate of another.

[2017-05-03 03:43] #34 closed, assigned to mzomparelli

[2017-05-03 03:44] #33 closed, assigned to mzomparelli

[2017-05-03 03:49] #12 closed, assigned to nobody

[2017-05-03 03:49] #19 closed, assigned to nobody

[2017-05-03 04:25] ghost commented on #49
I'm planning on learning some more about programming for windows this summer, so maybe I'll be able to help a bit more then, but there appears to be a way to catch the event of a desktop switch, as mentioned [here](https://social.msdn.microsoft.com/Forums/vstudio/en-US/8f712fbc-816d-4896-bd95-f35cdb9aa766/virtual-desktops-windows-10?forum=windowsuidevelopment). Perhaps you could block this event i

[2017-05-03 13:53] mzomparelli opened #51 "Excel not showing up in Desktop View"
None of my Excel windows are showing in Desktop View.

[2017-05-03 14:28] mzomparelli opened #52 "Metro windows reload everytime the PC is unlocked"
Even after closing them they come back every time I unlock. These metro apps are retarded. Thanks Microsoft for forcing me to have certain windows open and running even if I never plan on using them.

[2017-05-03 14:49] mzomparelli commented on #50
Version 1.0.42 appears to only trigger a false positive for one low end detector. I will continue to monitor each build.

[2017-05-03 19:01] pitxels opened #53 "Switch desktops independently on each screen"
This is a future request to have multiple desktops and switching between them per every screen.

Just see how OSX works is awesome.

[2017-05-03 23:24] mzomparelli commented on #51
This fix will be published in version 1.0.43. I'll probably publish tonight after I try and address other bugs.

[2017-05-03 23:24] #51 closed, assigned to mzomparelli

[2017-05-03 23:25] mzomparelli commented on #53
Could you elaborate please? I don't use OSX. I can't stand it. I am interested in hearing more about how this feature works though.

[2017-05-03 23:39] mzomparelli commented on #52
Here is how you can uninstall some of those metro apps that Windows won't let you uninstall normally.

Open Power Shell as an admin and run any of the below commands. You should be able to tell which app each command is referring to.

[code]

Reinstalll default apps

`Get-AppxPackage -AllUsers| Foreach {Add-AppxPackage -DisableDevelopmentMode -Register “$($_.InstallLocation)\AppXManifest.xml”}`

[2017-05-04 00:31] mzomparelli commented on #52
I've searched everywhere and I can't find info as to why the Win32 `EnumWindows()` returns multiple handles for a single Microsoft Edge window. If any cares to help me figure that out I would greatly appreciate it.

[2017-05-04 04:15] #52 closed, assigned to mzomparelli

[2017-05-04 04:15] mzomparelli commented on #52
Should be fixed in 1.0.43

[2017-05-04 04:20] mzomparelli commented on #24
Wondering if this is even worth the trouble...

[2017-05-04 06:36] oywino opened #54 "Desktop view feedback"
When I activate desktop view, i find that clicking on any window does nothing. But if I right-click, zVD jumps to that particular desktop and app. Is it by design that clicking does nothing (I have to right-click)?

Also, several of my apps is just shown as a white box with nothing inside. And the others that do show, are framed in a white box which is too large
[img]http://i.imgur.com/ZPQ8GPa.jpg

[2017-05-04 11:22] mzomparelli commented on #54
that is by design. left-click and drag while still clicked to move the window. Right click takes you to the window. The metro app sometimes display funny.  I'll look into the issues you see.

[2017-05-04 12:10] mzomparelli commented on #54
Do you have any software installed that you think might be causing this? If so, what is it?

Does it have anything to do with the size of the actual window? Or maybe something to do with multiple monitors? I use two monitors and it looks good on my PC.

[2017-05-04 12:37] mzomparelli commented on #54
Looks like I broke the drag and drop feature. I'm working on it because I want to use it today.

[2017-05-04 12:45] mzomparelli commented on #54
The drag and drop is fixed. Use this link to get a fixed version of 1.0.43. I'll publish this fix as 1.0.44 later this evening.

http://zomp.co/Files.aspx?id=zVDEXE1

[2017-05-04 13:28] oywino commented on #54
Using the Desktop view just to get an immediate overview of all my current apps and on-goings, is great. I'd like to be able to press the Escape-key to go back to where I came from.
As it is now, I have to make a selection to get out of Desktop View or press the key-combination again. (this is a nice-to-have request)

[2017-05-04 13:50] mzomparelli commented on #54
I'm glad you like it. I will add the escape key to exit.

[2017-05-04 14:36] oywino commented on #54
Hi, I screen captured part of the Desktop View (only the two leftmost desktops 4-5), and in the image below, you can see how I think it looks better. In desktop 5 I crossed out the way it looks now, and instead tried to illustrate how I think it should look using Paintshop to edit the screendump.
[img]http://i.imgur.com/Fj9gzBo.jpg[/img]
Please disregard the fuzzyness of the images (Its just becau

[2017-05-04 15:05] mzomparelli commented on #54
I don't know why you have that white space. Could you identify software that might be causing it?

The width of the thumbnails is auto-adjusted, but I didn't do that for the height. I was thinking of zooming in on the window if you hover or auto-adjust the height.

[2017-05-04 15:14] mzomparelli commented on #54
How do you have a Gadget on your desktop? I thought Microsoft did away with those. I want it.

[2017-05-04 17:04] oywino commented on #54
First things first: I stopped all foreground apps. No difference. Then I rebooted and launched only an explorer window. No difference. Same white space.
Then I disabled all autostarting background processes I could think of by disabling them in autostart, and rebooted. No difference. Same white space.
So I have no idea if this is caused by an app, or as a result of something deeper, like a driver

[2017-05-04 17:16] mzomparelli commented on #54
So you are just using a single monitor?

[2017-05-04 17:17] oywino commented on #54
Regarding the Gadgets, this is MS standard Windows gadget packet from windows 7.
Windows 10 complains a bit during installation, but only then, and not very much. I love these gadgets.
At first, I thought perhaps it was the Gadgets that caused this problem, but disabling it completely made no difference.

[2017-05-04 17:22] mzomparelli commented on #54
Are your windows maximized? I wonder if this has to do with your high resolution and/or windows not being full screen. I use 1080 resolution and mine looks perfect for all windows maximized, minimized, or just sized smaller than the window space.

[2017-05-04 17:50] oywino commented on #54
The amount of white space changes with the size of the window, but never goes away completely whether it is maximized, minimized, or just sized smaller than the window space. I use only one monitor (my laptop lid is closed).

[2017-05-04 17:52] oywino commented on #54
When minimized, the white box is 100% white. the size is always the same.

[2017-05-04 18:21] mzomparelli commented on #54
Thanks for the info. I'll see what I can figure out. If you obtain any additional info then please keep posting here.

Maybe try something to eliminate a software conflict. I see that you are running VBox. Try running zVirtualDesktop in a fresh Windows 10 VBox and see if you get the same results. Then try installing programs to possibly pin-point the culprit.

[2017-05-04 18:57] oywino commented on #54
I tried running zVD in VirtualBox.
Exactly the same result; Big white rectangles.
The resolution I use in VB is 1600x1200

[2017-05-04 19:00] mzomparelli commented on #54
This is good info. It leads me to believe it has to do with screen resolution. I will start with testing that,  but it might be difficult since I don't have any monitors that support any higher than 1080. I'll figure something out.

[2017-05-04 20:14] oywino commented on #54
I tried zVD now on a completely new machine. A Dell i5 laptop using only the internal LCD screen.
Regretfully, the problem is exactly the same.

[2017-05-04 22:07] mzomparelli commented on #54
What's the resolution the Dell laptop screen?

[2017-05-04 22:11] mzomparelli commented on #54
Can you try changing the resolution to 1080 to see if that helps?

[2017-05-05 03:48] mzomparelli commented on #54
So I was just doing the math and your resolution is the normal aspect ratio 16:9 like mine. Your dell laptop screen though is 4:3 ratio. My point is, I don't think it's screen resolution causing this.

The odd thing is that the Mail app in your screen shot spans the entire thumbnail.

I tested this on my Surface Pro 4 with resolution 2736 x 1824 and it displays as expected. It also displays on my

[2017-05-05 04:07] mzomparelli commented on #54
Can you open some other windows, like Explorer, Internet Explorer, Edge, Notepad, etc and take a screen shot of that?

[2017-05-05 08:09] enumag opened #55 "zVirtualDesktop crashes when whenever I use Esc [v1.0.44]"

[2017-05-05 08:13] enumag opened #56 "Ability to assign non-standard keys"
I'm using Microsoft SideWinder X4 keyboard which has some additional keys S1 to S6 on its left side. I'd like to assign some of these to zVirtualDesktop. So far I could not find any way to achieve that. Any ideas?

[2017-05-05 11:00] oywino commented on #54
I have tried a number of apps, and they all behave the same wa. This is definitely not an app issue.
None of my laptops offered 1080, but I tried 1024x768 and it was exactly the same.

[2017-05-05 11:37] hansek opened #57 "Autoupdate doesn't work properly"
Sometimes zVD shows me dialog informing about new release (there can be written what is the new version ;) ), but when I click YES button, it shows a small progress bar and then after few seconds update dialog appears again.

Installed zVD is still in original version, nothing change.

Firstly:
![image](https://cloud.githubusercontent.com/assets/378835/25743958/866fc01a-3197-11e7-91b7-ab20a1bf73f5

[2017-05-05 12:04] mzomparelli commented on #55
I'll fix this right now.

[2017-05-05 12:05] mzomparelli commented on #57
I noticed this on one of my machines as well. You'll have to update manually when this happens. I can't see why it's happening.

[2017-05-05 12:09] mzomparelli commented on #56
I don't think I can handle these keys because they are driver specific. I will look into though.

Since this is driver specific you should have software that allows you to program these keys.

[2017-05-05 12:13] mzomparelli commented on #54
I ran zVD on 5 machines and they all display as expected. Since I can't reproduce this issue it is going to be difficult to resolve. Why do you suppose your mail app spanned the entire thumbnail. That leads me to believe that something on your machines is causing it. Maybe it's driver related like you said at first. What is your Windows 10 version?

[2017-05-05 12:15] mzomparelli commented on #55
I created a new 1.0.44 that prevents this crash. You can download it here. I will publish this and other updates tonight.

http://zomp.co/Files.aspx?id=zvdexe1

[2017-05-05 12:15] #55 closed, assigned to mzomparelli

[2017-05-05 12:18] mzomparelli commented on #57
I'm pretty sure that Windows or another app is blocking the download, but I'm not sure. Out of my 5 machines I run this on, this only happens on my Surface Pro 4. Do you have any ideas what may be happening? I would happy to fix this if I could figure it out.

[2017-05-05 12:59] oywino commented on #54
It's strange that the mail app actually did span the whole thumbnail. I didn't notice that until you mentioned it. Funny thing is that I'm unable to reproduce that. Now, if I go to zVD Desktop View, my email app only shows as white rectangle. (and so does many other apps as well, but not all).
My windows is always updated. currently 1607, Build 14393.1066

[2017-05-05 13:35] mzomparelli commented on #54
The all white thumbnail is something happening to the metro apps. I am looking into that, but it is different than the issue of not spanning the entire width. You don't have the current version of Windows, but I don't think that matters.

My WinVer

![image](https://cloud.githubusercontent.com/assets/10564234/25747660/db9a39e6-316d-11e7-83d6-83e92827b0e6.png)

[2017-05-05 13:54] mzomparelli commented on #57
Future prompts will tell you what the new version is and what your current version is.

[2017-05-05 15:11] oywino commented on #54
Hmmm... that's strange. I don't even have an about window that looks anything like the one your'e showing here. If I click "update", I get a message that everything is updated.  How did you produce that window?

[2017-05-05 16:39] mzomparelli commented on #54
Press WIN+R to open the run dialog and type WinVer there and press enter.

Alternatively, you could open the start menu and begin typing WinVer and it will popup for you to click on and run.

You can go here to get the recent Creators update.

https://www.microsoft.com/en-us/software-download/windows10

[2017-05-05 18:18] oywino commented on #54
So, I updated to 1703 and now it "works". Meaning that each app "fills" the whole rectangle. But the app thumbnail becomes very distorted as the rectangle is fixed 16/9 and besides, it's so small I am unable to see any detail (unless the app is very colorful)....
Why it works on 1703 and not on 1607 - beats me....

[2017-05-05 18:32] mzomparelli commented on #54
Very Interesting! These Thumbnails are not specific to Win 10. There were introduced in Windows 7. Can you send another screenshot so I can see the distorting you are referring to? I think I know what it. I just need to auto size the height like I do with the width.

[2017-05-05 18:37] oywino commented on #54
![image](https://cloud.githubusercontent.com/assets/18447119/25759415/b5c5ff9c-31d2-11e7-84c0-ec78369172b0.png)

[2017-05-05 18:44] mzomparelli commented on #54
Ok, I can fix this!

I'm going to close this issue, but I will work on fixing the auto height tonight.

[2017-05-05 18:45] #54 closed, assigned to mzomparelli

[2017-05-05 23:32] mzomparelli commented on #56
One thing you might be able to do is assign a hotkey to one of those buttons. Basically, you should be able to program it to send keys, then you could have zVD listen for that hotkey and perform an action. That's the best I have at the moment, but I am still looking into it.

I'm a supply chain engineer by day and zVD is just a hobby for me. This means that I can only work on it on my own time. So

[2017-05-05 23:42] mzomparelli commented on #57
When this happens you can use the same URL that the app uses to get the current version.

The below link will always get you the current version.

http://zomp.co/Files.aspx?id=zVDEXE1

This other link is the same link on GitHub that gets you the zip file which will always be the same EXE as the above link.

http://zomp.co/Files.aspx?id=zVD

[2017-05-06 00:13] mzomparelli commented on #50
zVirtualDesktop is no longer being detected as a virus.

One thing that I believe helped this was adding the prompt to download the update instead of just updating it. I can see how that would look bad, but I still think prompt-less, fully automated updates are the way to go. I will leave the prompt though.

[2017-05-06 00:13] #50 closed, assigned to nobody

[2017-05-06 00:47] mzomparelli commented on #54
I'm publishing an update tonight that will maintain the aspect ratio of your primary monitor.
v1.0.45

[2017-05-06 06:21] oywino commented on #54
This now looks perfect!
However - you still use right-click to select the app ?  I totally fail to understand why you've decided to deviate from the de-facto standard in this regard. At best, this is confusing...  Please explain why you cannot (will not) use the left-click which is the default Windows standard.

[2017-05-06 06:46] hansek commented on #57
I tried run the app as Administrator, but it doesn't help.

I don't have any other idea what can be source of the issue 😞

Will continue with downloading new versions manually 😉

[2017-05-06 18:04] mzomparelli commented on #57
It could be that the downloader app needs the admin permissions. I'll test it out soon and report back.

[2017-05-06 18:07] mzomparelli commented on #54
You are right, it's stupid for me to do this and the reason is even worse. I just didn't feel like handling that along with the mouse down for the dragging capability so instead I just checked which mouse button was pressed. Pure laziness. Consider it corrected in version 1.0.46. I'll probably also have a context menu for thumbnails.

[2017-05-06 18:45] oywino commented on #54
What can I say - but Thank you ! 🥇
Your humble attitude earns you a medal...

[2017-05-06 18:58] mzomparelli commented on #57
I just tried this running the downloader as admin and still the same thing. I will continue to investigate, but not a high priority at this time.

[2017-05-07 05:59] enumag commented on #57
@mzomparelli How can I install the latest version then? Download button in readme is broken as well.

[2017-05-07 16:12] mzomparelli commented on #57
The download buttons should be working. I just tested. You may also use this link to get the current version.

http://zomp.co/Files.aspx?id=zVDEXE1

[2017-05-07 16:15] enumag commented on #57
@mzomparelli Oh I see now. The buttons work but the downloaded filename has apostrophes around it and can't be used unless I manually rename it.

[2017-05-07 16:23] mzomparelli commented on #57
What you mentioned about the apostrophes might be the reason for this open issue. Thanks for the feedback.
See if this Dropbox link does the  same thing.

https://www.dropbox.com/s/16gysy7xcjmzt9t/zVirtualDesktop.exe?dl=1

[2017-05-07 16:26] enumag commented on #57
Dropbox link is fine. By the way the problem is probably specific to firefox.

[2017-05-07 16:27] mzomparelli commented on #57
That helps. Let me try out Firefox.

[2017-05-07 16:35] mzomparelli commented on #57
I will move this to Dropbox completely as long as this one link works for every new version put out there. I'm testing that now.

[2017-05-07 16:37] mzomparelli commented on #57
Seems to work still when I overwrite the file with another file. This means I can use Dropbox links instead.

[2017-05-07 16:46] mzomparelli commented on #57
@hansek  & @enumag please download the newest exe using the link. It will allow your next autoupdate to come from Dropbox.com and this might resolve the issue.

This also means zVD is accessible even when my server is down which is almost never anyway. To get the version number it still has to hit my server. I have no plans of putting my SQL Server in the cloud. In case you're wondering, my server

[2017-05-08 02:50] mzomparelli opened #58 "Anyone want to make a tutorial of zVirtualDesktop?"
I would like to update the readme, but documentation bores me. I'll do it if nobody else wants to do it, but it's time for something better.

https://github.com/mzomparelli/zVirtualDesktop/wiki

[2017-05-08 07:51] hansek commented on #57
@mzomparelli Alright, I already downloaded the latest version.

I'll confirm auto update is working as next version will be available.

Thanks

[2017-05-09 00:01] Aran-Fey opened #59 "switching desktop causes focused window to blink in taskbar"
Sometimes when I switch desktop, the application that's focused on that desktop becomes highlighted in the task bar.

Example:
On desktop A, I have Firefox:
![untitled](https://cloud.githubusercontent.com/assets/22036272/25830018/467f9c3a-345a-11e7-91a0-3d2a633fae68.png)

On desktop B I have Steam (note that Firefox is pinned to my task bar, which is why it's visible on this desktop):
![untitled2]

[2017-05-09 00:28] mzomparelli commented on #59
I'm aware of this. I actually haven't seen it in awhile since I've been using Desktop View for everything. It's so much easier this way because you can go to the exact window that you want. I don't use the hotkeys for moving windows either because even that is easier in Desktop View.

I do understand that others may prefer the hotkeys so I will investigate deeper as to why this is happening so I c

[2017-05-09 00:34] mzomparelli commented on #59
You say it is happening a lot with you though. While I have seen this, it was never a lot. Just once in a while.  I have been able to reproduce this when quickly switching desktops so perhaps you are switching desktops too quickly. Nonetheless, I will get to the bottom of it.

[2017-05-09 00:54] mzomparelli commented on #59
I think I have this fixed. I'll release version 1.0.48 in a little bit. Let me know if you still experience any issues. I'll leave this open until you confirm it has stopped.

[2017-05-09 02:31] mzomparelli commented on #59
To fix this bug you need to kill focus for all of the windows on the desktop that you are leaving.

`SendMessage(this.Handle, WindowsMessage.WM_KILLFOCUS, IntPtr.Zero, IntPtr.Zero);`

[2017-05-09 04:34] mzomparelli opened #60 "Question for all users"
What do you think of the GUI? Both the Desktop View and the settings form?

The reason I ask is that I created this in WinForms and I think I did a good job with the GUI. I am considering starting a version 2 in WPF. What do you guys think?

[2017-05-09 04:39] mzomparelli commented on #46
@enumag @amrahman96

Have you had a chance to use Desktop View? What's your opinion? I like it, but I know you both had different ideas which makes your feedback meaningful.

[2017-05-09 04:40] #22 closed, assigned to nobody

[2017-05-09 04:40] #11 closed, assigned to nobody

[2017-05-09 07:02] ghost commented on #46
I like it for the most part. My main complaint I have to move all the way up to a window to switch to that desktop, and there is no way to switch to an empty desktop. What makes intuitive sense to me is that if you left click anywhere in a column without dragging, you would be taken to that desktop (and I like how it currently  works where if you click on an a window, that window is brought to the

[2017-05-09 07:49] Aran-Fey commented on #59
It happens less frequently now, but it's still there. Sometimes a window will flash once and then stop.

There's a new problem now though: Sometimes when I switch desktop the active window loses focus. I have to click or alt+tab into it to restore the keyboard focus.

[2017-05-09 08:06] Aran-Fey opened #61 "error when trying to navigate to previous/next desktop"
Whenever I try to navigate to the previous or next desktop, this error dialog appears:

![untitled](https://cloud.githubusercontent.com/assets/22036272/25840972/65995a04-349e-11e7-8ffc-a59e0e4c75bd.png)

Note that I'm not using the default (Windows) keyboard shortcuts, but have created my own hotkeys for "Navigate to Desktop #Previous" and "Navigate to Desktop #Next".

[2017-05-09 08:38] Aran-Fey commented on #60
In my opinion, the UI doesn't make a great first impression. I'm not sure how to put this, but it looks kind of... minimalist, in a bad way. It looks very flat; for example the "tabs" in the settings dialog look like a bunch of text labels, not like an actual "tab widget".

Don't get me wrong though, the GUI is quite alright the way it is. All the functionality is there, and you get used to its so

[2017-05-09 09:41] ghost commented on #46
Also the large preview on hover feature I suggested would be really helpful.
As you can see, when I first open chrome and have to move windows across desktops, it's pretty hard to tell what's what without a larger preview.
![image](https://i.imgur.com/Yh4Fr0A.png)

[2017-05-09 11:48] mzomparelli commented on #59
When you switch desktops there is no active window. Your active window was on a different desktop. If you're trying to get to a specific window on a desktop then you would be better off using Desktop View.

I'll look into your new issue of losing focus.

I've been unable to make a window flash since yesterday's update.

[2017-05-09 12:14] Aran-Fey commented on #59
Of course when I say "active window" I'm referring to the window that's active on the desktop I've switched to. I've experimented a bit to see where the keyboard focus goes, but as far as I can tell, nothing is focused at all.

If it helps you reproduce the problem - I've created hotkeys to switch to specific desktops and am using those. I.e. "Navigate to Desktop # 1" and "Navigate to Desktop # 2"

[2017-05-09 12:18] ghost opened #62 "How does this pin a window or app to all desktops?"
For my own virtual desktop management app I would like to know how to programmatically pin a window or app to all virtual desktops. Can you share how you did this? Or where is some other documentation that shows how to do this?

... actually (I just searched some more), I think maybe I can find a way here in this repository for [win-10-virtual-desktop-enhancer](https://github.com/sdias/win-10-virt

[2017-05-09 12:38] mzomparelli commented on #46
@amrahman96 thanks for the feedback.When I release version 1.0.49 you will be able to click the label headers in Desktop View to go to that desktop. last night I thought about switching like you say so that when you left click in a desktop column it will take you to that desktop. Look forward to seeing that.

I like your idea about putting the pinned windows along thew bottom. I too was getting co

[2017-05-09 12:41] mzomparelli commented on #60
@Rawing thanks for the feedback! It is supposed to be minimalist. The UI isn't really the showcase.

You might have noticed that there are no external libraries for this exe. That is by design and you are right that the settings UI is labels. I think it looks pretty good, but I will try and make it look more appealing.

Your feedback is greatly appreciated. I listen to my users and try to accommod

[2017-05-09 12:42] mzomparelli commented on #59
Thanks, I will try and fix this. So basically, you want the last active window on that desktop to become the current active window?

[2017-05-09 12:46] mzomparelli commented on #62
Grabacr07 created a library that uses the IVirtualDesktop interface. I forked his code and I'm using it and maintaining it in zVirtualDesktop.

https://github.com/Grabacr07/VirtualDesktop

This project was open source at one point, but I wanted to be the only one maintaining it. Once I get bored I will put it back out here on GitHub.

[2017-05-09 12:50] Aran-Fey commented on #59
That's right. That's the default behavior, isn't it? Windows maintains the keyboard focus for each desktop. If I use the builtin Windows hotkeys to switch desktop, it works as expected. It's only if I use zVD hotkeys that the focus disappears. So I don't think you need to implement anything; if you just change the desktop and do nothing else, Windows should take care of the rest.

[2017-05-09 12:56] mzomparelli commented on #59
ok, Sounds simple. I should be able to resolve this tonight.

[2017-05-09 13:00] mzomparelli commented on #62
@noido FYI, Don't use win-10-virtual-desktop-enhancer. Go straight to Grabacr07's project. Skip all the middle man projects.

[2017-05-09 13:09] mzomparelli commented on #62
@noido you can come to me if you need any help. I'll show you portions of my code to help you with your project. Try handling the pinning on your own and if you continue to have trouble I'll walk you through how to add this feature to your project using Grabacr07's project. If you use his project you should use the code instead of a compiled library. I did this to make sure all I had to publish wa

[2017-05-09 16:11] Aran-Fey commented on #36
How about "Auto Move Windows"? I think that makes the difference to "pin"-ing very clear.

[2017-05-09 16:54] mzomparelli commented on #61
@Rawing thanks for the feedback.

Does this error message occur when you navigate to a desktop directly using a hotkey that takes you to a specific desktop?

What hotkeys did you choose for the next and previous actions?

What is your Windows 10 version? You can get it by opening the run dialog (WIN+R) and typing WinVer.

[2017-05-09 17:12] Aran-Fey commented on #61
This error only occurs when I use "navigate to next desktop" or "navigate to previous desktop"; moving directly to a specific desktop works fine.

I'm using Ctrl+Alt+UpArrow/DownArrow, but I've confirmed the bug also occurs when I try other key combinations.

My OS is Windows 10 Pro version 1703 (build 15063.138).

[2017-05-09 17:54] mzomparelli commented on #36
Makes sense. Thanks for the feedback. I should get back to adding this feature soon.

[2017-05-09 17:54] mzomparelli commented on #61
Thanks, I'll investigate this evening.

[2017-05-09 18:56] ghost commented on #62
Too late! Haha. I already figured out how to port all two of my features (per-desktop random wallpaper folder, and per-desktop icons) to win-10-virtual-desktop-enhancer (AutoHotKey).

I'm not familiar with making DLLs and using them in other code, but it looks like that's what I would have had to do if I used the .cs project.

I'm also not used to seeing that reason for closed source, that is inte

[2017-05-09 19:39] pitxels commented on #53
Just check this video on minute 2:45 http://youtu.be/Mi6AhogZCeg he is changing the desktop on only one monitor (where the mouse pointer is currently). This is something Windows doesn't have. That's why I am suggesting it as feature.

[2017-05-09 20:08] mzomparelli commented on #62
Sure I would love a quick buck and why shouldn't be able to profit from this. I made this app because I needed it. Originally, I didn't intend on anyone else using it. If you like a program then you should help out the developer for the time they put in. I do this when I see donate links for things I find very useful.

If you think AHK is nice for prototyping UI then you should get involved in .ne

[2017-05-09 20:13] mzomparelli commented on #53
I'm not sure I like this idea. I use both monitors at all times so switching just a single monitor to a different desktop would actually be a bad thing. I will check out the video and let you know what i think after watching. Based on your description, I probably won''t implement this feature.

[2017-05-09 20:56] mzomparelli commented on #60
@Rawing Despite my unappealing GUI, would you agree that this program blows away any of the Auto HotKeys ones? The reason I made this program was because that was all i can find and I wanted something that was an all-in-one package with zero installation. I'm also trying to prevent having external DLL libraries which is partly why it's so plain. If I want it to look nicer then I have to create my

[2017-05-09 21:10] ghost commented on #62
I liked the option to tip a Lamborghini.

[2017-05-09 21:12] Aran-Fey commented on #60
I've never used any Autohotkey programs, so I can't comment on that.
I don't think making a more stylish GUI needs to be a high priority task for you though. After the initial "huh, this interface looks unusual" moment you hardly even notice the differences anymore. I don't think the interface is so bad that it scares off potential new users or makes interaction with the program difficult.

[2017-05-09 21:16] mzomparelli commented on #62
haha thanks. I thought i would try and lighten it a bit with some humor. Make them smile and maybe they're more likely to donate a few bucks. Feel free to send me $200k :) That would make me happy.

[2017-05-09 22:05] ghost commented on #62
I think there is at least one feature set for virtual desktops that can be useful enough for people to want to pay for. (I haven't thought of more yet. Too lazy.)

I was considering the possibility of running a scheduling program for separating timed tasks—kind of like "Quiet Hours" or "do not disturb" or even a school schedule. There is one set of features where the user (or their supervisor!) ca

[2017-05-09 22:26] mzomparelli commented on #62
I like you! You seem like a creative person with cool ideas. I like the idea of limiting or blocking certain app or blocking to a specific desktop. I'm not sure I would ever use it, but I can think of a few people that would find it useful. I'm not sure.

Someone else suggested an idea for this app. This person says that Apple Mac virtual desktops allow you to switch a single monitor to a differen

[2017-05-09 23:25] mzomparelli commented on #61
I have identified the cause for this issue and it will be corrected in an update I publish tonight.

You will have to delete the bad hotkeys and recreate them. They were created incorrectly via my code.

Version 1.0.49

[2017-05-09 23:41] #61 closed, assigned to mzomparelli

[2017-05-09 23:49] mzomparelli commented on #59
In my testing I have successfully reactivated the last active window for each desktop. However, I am unable to reproduce a flashing window or a window whose taskbar button leaks into the wrong desktop after switching.

[2017-05-09 23:53] mzomparelli commented on #46
@amrahman96 I very much like your idea of putting the pinned windows in a row on the bottom. It's a little more involved than I thought it would be so I'm creating a new issue specifically for this.

[2017-05-09 23:55] mzomparelli opened #63 "Desktop View - Pinned windows should be a row on the bottom"
Having the first column being pinned windows is confusing myself and some users. Instead, let's put the pinned windows in a row on the bottom of Desktop View.

[2017-05-10 00:34] mzomparelli commented on #46
@amrahman96
The thumbnail size is auto-sized based on the column width. The height is then calculated to maintain the aspect ratio of your display.

I see you don't have that many windows open. How long is it taking to populate that screen shot you provided? I've had more windows open and it takes less than a second. My laptop is a pretty crappy i5 with integrated graphics.

[2017-05-10 01:20] mzomparelli opened #64 "Desktop View - Enlarge thumbnail when hovering"

[2017-05-10 01:31] ghost commented on #46
It takes about a full second with that many windows, and about three seconds if my laptop is unplugged. I have an i7-6700HQ (and other generally good specs) so it should be pretty snappy.

[2017-05-10 01:46] mzomparelli commented on #57
My Surface Pro 4 still can't do the auto-update. Still manual updates for now.

[2017-05-10 01:48] mzomparelli commented on #46
Background processes can interfere. That I have noticed. Any ideas aside from increasing the priority of the process?

 I can't cache because these are live thumbnails. I'll check again to see what I can speed up.

[2017-05-10 02:37] #56 closed, assigned to mzomparelli

[2017-05-10 02:47] mzomparelli commented on #53
I watched the video and while that is an interesting idea I think it defeats the purpose of multiple desktops. I don't even think I could accomplish something like this with Windows 10 VD. It have to be completely custom.

[2017-05-10 02:47] #53 closed, assigned to mzomparelli

[2017-05-10 02:48] #62 closed, assigned to nobody

[2017-05-10 05:01] mzomparelli commented on #63
While I'm working on this enjoy having the pinned column on the right side.

[2017-05-10 07:26] Aran-Fey commented on #59
Something very odd happens now. Continuing from my Steam/Firefox example, say Steam has keyboard focus. When I switch desktop, Steam _keeps the keyboard focus_ even though it's on a different desktop. If I press buttons and then switch back to Steam, all the letters have been typed into the steam chat.

I have discovered something that might help you reproduce my problem with flashing windows. It

[2017-05-10 11:51] oywino commented on #54
After upgrade to 1.0.49 I experience some new "bugs".
First and foremost that a number of resident background apps are now shown as a series of blank boxes on the "Show on all Desktop"

![20170510_133253](https://cloud.githubusercontent.com/assets/18447119/25897220/7b59ef54-3587-11e7-8e2e-ab2e4e789359.jpg)

Also, earlier I could use the Win10 built-in Snipper (Screen grabber) to capture part of th

[2017-05-10 12:21] mzomparelli commented on #54
Yep, looks like I broke stuff. I'll what i can do about fixing some of it this morning.

[2017-05-10 12:26] mzomparelli commented on #54
I fixed some of it including the windows you mention in the pinned column. It should not show those now.

https://www.dropbox.com/s/16gysy7xcjmzt9t/zVirtualDesktop.exe?dl=1

[2017-05-10 12:51] mzomparelli commented on #59
I'll check this out this evening.

[2017-05-10 14:25] buchmiller opened #65 "No notification of failed update"
I clicked "Yes" to update from version 1.0.48 to 1.0.49. The window closed and nothing happened.
The reason is that my employer blocks all access to dropbox. I'm still able to download the latest version from your website, but it would be nice to know that the update failed with an error message. Maybe it could even be smart enough to attempt the download from a different domain.

[2017-05-10 15:55] mzomparelli commented on #65
Thanks for the feedback. I will investigate this evening.

[2017-05-10 21:58] mzomparelli commented on #59
I was able to reproduce this using Notepad, but only if no window was selected before switching and then switching back. I added some code that I will be testing in a little bit. This code sets the focus to the desktop if you don't have a window to focus on. This could mean an empty desktop or a window wasn't focused before you left the desktop.

[2017-05-11 16:59] hansek commented on #57
Same by me, zVD shows notification about version 1.0.49, but auto update don't work.

[2017-05-11 17:03] mzomparelli commented on #57
I didn't do much to zVD last night and obviously I didn't publish an update. Last night I decided to reset my dev machine and I forgot to backup the code for zVD so we have to revert to the last git version which is like 1.0.20 hahaha. just kidding. I don't lose files. Everything is backed up.

[2017-05-11 18:30] ghost commented on #60
The GUI looks fine. One default change that I wanted to make right away was to add a hotkey to show the desktops GUI; in the current program that action is called "Show Desktop View". I think that perhaps it should be mapped to Win + Tab by default (overriding the default windows view); at the very least I feel it should be mapped to something because it's worth pressing. I had to search the keybo

[2017-05-11 18:37] ghost commented on #62
I thought about per-monitor desktops. I imagine dragging tabs around in a browser, and think it could be implemented well like that. For example, if you have several different activity sets on monitors, you can drag and drop the desktops on those monitors to swap them. This is intuitive and would let you rearrange the monitors so your main monitor matches your new main task.

I saw one possible im

[2017-05-11 18:44] mzomparelli commented on #60
@noido thanks for the feedback!

I had thought about using Alt+Tab for Desktop View, but that particular hotkey does not override very well. I was having an issue preventing it from still doing the default Alt+Tab function. I have Desktop View mapped to CTRL+SHIFT+Z and I really like it. I find that easier to press than Alt+Tab. To each their own I guess. I'll see what I can do about overriding Al

[2017-05-11 22:36] mzomparelli commented on #60
Sorry, I meant Win+Tab in my above comment

[2017-05-12 18:10] ghost commented on #15
Best way I've seen so far: Mouse wheel over the task bar switches to next/previous desktop. This is even easier than right click or a keyboard shortcut.

That's the easiest way I've seen so far in the various tools I tried ([virtual-desktop-enhancer.ahk](https://github.com/sdias/win-10-virtual-desktop-enhancer) had the scroll-to-switch-desktops feature). I didn't even know it had this feature unti

[2017-05-12 18:36] mzomparelli commented on #15
I will add this feature, but I personally dislike it. It's probably because I never switch one desktop at a time. I always go exactly where I need to go and Desktop View is my main way of switching now because it shows me where everything is and I can click any window and bring it up.

[2017-05-12 18:37] mzomparelli opened #66 "Navigate Next & Previous Desktops With Mouse Scroll Over Taskbar"

[2017-05-12 18:52] oywino commented on #15
I kind of agree. It will be interesting to test though. Using mouseover on the taskbar instead of rightclicking an icon, is a good approach that never occurred to me. Just moving the mouse to an empty part of the taskbar today, does nothing in windows default. My next idea was to use that fact to automatically bring up a horisontal row of desktop thumbs (identical to the row you get when you press

[2017-05-14 10:20] Aran-Fey opened #67 "Hotkeys aren't truly global, are "consumed" by some apps"
Some apps, while focused, prevent the hotkeys from taking effect.
An example is the Administrator Command Prompt. Pressing Ctrl+Alt+1 inserts a ¡ character instead of switching to desktop # 1.

[2017-05-14 15:29] mzomparelli commented on #67
It has something to do with being a privileged window. It does not do this when you use a non-admin command prompt. I noticed Task Manager does this as well.

Running zVD as admin helps. Try it and report back please. I was able to use a hotkey while an elevated command prompt had focus when zVD was run as admin.

[2017-05-14 19:55] Aran-Fey commented on #67
You're right, running zVD as admin makes everything work as expected.

I'm pretty sure there's a way to make this work without admin privileges though. I've used a different virtual desktop manager in the past and never experienced this problem. I'll use your workaround for now, but if you could make this work without admin privileges, that would be fantastic.

[2017-05-14 21:24] mzomparelli commented on #67
The other program you mention may already be running with elevated privileges. Can you confirm that? I don't think this is a work around. This is the expected behavior and is there to safeguard your PC. I could have it run with elevated privileges, but you'll be prompted by Windows for confirmation.

[2017-05-14 22:12] Aran-Fey commented on #67
I've checked the other program and it seems to be running without admin privileges. I've checked the Compatibility tab and confirmed that "run as administrator" is unchecked. It doesn't seem to elevate its privileges after starting either, because Windows never shows me any dialogs asking me for permission.

But it's not a big problem **and** there's an easy workaround, so this really isn't a part

[2017-05-16 19:17] mzomparelli opened #68 "Sorry, My server was down for a few days - SSL Related"
Really just the SSL part, but since it all goes through SSL it might as well have been completely down. I've renewed my SSL cert and everything is back up until two years from now when it happens all over again.

[2017-05-16 23:11] mzomparelli opened #69 "Blacklisted IP addresses"
I've blacklisted several IP addresses that were repeatedly trying to login to my SQL Server. I don't think it was any of you guys, but understand that if your IP address gets blacklisted you will not be able to download zVD from my server.

These are the IP addresses I have blacklisted. If one is yours maybe you'd care to explain yourself.

222.77.25.12
182.247.77.92
61.178.103.133
43.243.130.172

[2017-05-16 23:38] #68 closed, assigned to nobody

[2017-05-17 04:00] mzomparelli commented on #69
I changed my firewall to only allow specific IP addresses instead of blacklisting. I'm still keeping those blacklisted from everything though since clearly they are up to no good.

[2017-05-17 04:01] #69 closed, assigned to nobody

[2017-05-17 08:06] oywino opened #70 "DesktopView - White thumbnails for UWP apps"
Hi, why is it that so many window (app) thumbs just shows up white all the time?
This is not persistant og just one nd the same App, but random and can happen to any, many,a few or none. I have not been able to see a pattern, so I'm not able to help ....
![zvd-capture](https://cloud.githubusercontent.com/assets/18447119/26144269/6c5f0730-3ae8-11e7-9ca1-82d23b3eb1ee.jpg)

[2017-05-17 12:12] mzomparelli commented on #70
It means that the live thumbnail is white, but more likely it is that the live thumbnail couldn't be created or for some reason was not. I have see this only with Universal Windows apps.

Have you tried restarting your PC? At the very least, try restarting zVD.

Please continue to provide any additional details on this. I will continue to investigate myself.

[2017-05-17 13:23] oywino commented on #70
Restarting the PC makes no difference. The strange thing is that this is intermittent by nature. I will try to restart zVD next time it happens.
On the side, I also notice that whenever Mail for Windows is running, it often produce two thumbs in zVD Desktop View; One main app thumb which for the most part looks correct, and an additional all white thumb named Inbox.
Although I never see more than

[2017-05-17 13:35] mzomparelli commented on #70
The multiple thumbnails occurs with the Universal apps and I'm looking for a solution. It happens because of the way Microsoft implemented this. There truly are multiple window handles. I just need to figure out how to get the main one.

[2017-05-17 14:02] oywino commented on #70
Excellent - that sounds encouraging (although I don't know what you mean by an app being "universal" ?)

[2017-05-17 14:30] mzomparelli commented on #70
Universal is Microsoft new type of apps. Some are pre-installed, but all others would come from the Windows Store. Microsoft Edge, Windows Mail, Xbox, etc. are universal apps. I've been away from enhancing zVD for a little while, but as soon as I get back to it I will deal with this.

I'm coaching my son's baseball team and that's been taking a lot of my time lately.

[2017-05-17 14:56] oywino commented on #70
Coaching your son sounds like quality time :-)

[2017-05-17 15:08] mzomparelli commented on #70
Yep! I enjoy it. He's getting older (14 in June) so I have to get all this in while he still wants anything to do with me. They grow up so fast.

[2017-05-17 15:11] aaronweewee opened #71 "Request: Rearranging virtual desktops windows"
Heyy I really like what your doing with this, do you think it is possible to find a way to "rearrange" the desktops? :')

[2017-05-17 15:38] mzomparelli commented on #71
So basically, you want to move all windows from one desktop to another all at once? This could be done, but this would be low priority for me since it doesn't seem like a valuable feature and my backlog is getting long. Maybe you can explain it better that will want me to increase the priority.

[2017-05-17 16:58] aaronweewee commented on #71
I've mapped out my mouse side buttons to move to the next and previous desktop it is super efficient way to maneuver about desktops. But when i have 8-9 desktop open, its really difficult to jump from desktop 2 to 8.

eg. if "Work Desktop" is desktop 2 and i create "Data Desktop" that is at desktop 8, I'll have to shift all my excel sheets to desktop 3. vice versa

I guess that's why we have the h

[2017-05-17 17:06] mzomparelli commented on #71
Thanks for describing your intention in more detail. Have you tried Desktop View? It will allow you to easily and quickly jump to any window on any desktop. You could assign a mouse button to open Desktop View. Then you could navigate your desktops without needing the keyboard. Ever since I've added Desktop View I haven't used the hotkeys. Not the ones for navigating anyway.

What if you had a hot

[2017-05-17 21:20] oywino commented on #70
I know. Mine are 36 and 40, but I have 4 grandchildren...  :-)

[2017-05-17 21:49] mzomparelli commented on #70
I'm 36 in September, but I still feel like I'm 21. I hear from older people all the time that say your mind doesn't really change, only your body does. They also say the time goes faster and faster. Probably because adult responsibilities keep us busy. Time went slow in the younger years because we always had something to look forward to. Driver's license, alcohol, etc.

[2017-05-18 05:13] mzomparelli commented on #70
In messing with Universal apps, Windows Mail and Edge, I noticed that it only displays two thumbnails (one being an actual thumbnail and the other being a white window) when you are not on the desktop where the window is located. Can you confirm this on your end?

Next step is to compare the two windows and determine which one is always visible and test if that is the one that gets the actual thum

[2017-05-18 05:27] oywino commented on #70
Yes, that is correct - at least for Windows Mail. It only occurs when I am on another desktop.
The one which is always visible - is the one named "Inbox" - and it is always just white. Also this is the one that does not "exist" on the Desktop.
My Computer Spec is: Dell Latitude with an Intel i7 with 8-cores and 8Gig memory and 2x256Gig SSD.
I use an external 2560x1440 Dell monitor with it all the

[2017-05-18 21:46] mzomparelli commented on #70
That's a pretty nice PC you have there. It eliminates performance issues as a culprit to this issue.

For work I use a crappy i5 with 8 GB RAM. zVD works great.

At home, my best PC is a laptop running i7-6820HK, 64 GB RAM, 1070 Nvidia Graphics Card. I don't see much difference with this machine and the work laptop as far zVD goes.

[2017-06-08 16:42] ghost opened #72 "Start menu opens on previous desktop"
If I switch desktops and press the windows key, I have to press it twice for the start menu to open, and sometimes it jumps me back to the previous desktop. This only happens when pressing the windows key, not when actually clicking the start button. This didn't use to happen, even in v 1.0.50, so I'm not sure what changed, but this is happening on two different computers.

[2017-06-08 16:51] mzomparelli commented on #72
I can confirm this is happening, but I can't confirm it used to work because I never noticed this. I'll look into it. I'm also investigating Desktop View causing the app to crash. I think I might have a memory leak I need to deal with. I noticed it only crashes when there are many windows open.

[2017-06-08 17:48] mzomparelli commented on #72
How were you able to see the start menu open on another desktop? I can reproduce the start menu not popping up, but I can't move to another desktop where it's open.

[2017-06-08 17:51] ghost commented on #72
I can't actually see it on the other desktop (the start menu always stays open when switching desktops for me), but sometimes when I press the key the second time, it jumps me back to the other desktop, so I assume it's opening there.

[2017-06-08 17:54] mzomparelli commented on #72
ok, thanks for the info.

[2017-06-11 16:19] mzomparelli commented on #24
I've decided that this is not something I want to bother adding. I don't find it all that useful.

[2017-06-11 16:19] #24 closed, assigned to mzomparelli

[2017-06-11 16:20] #58 closed, assigned to nobody

[2017-06-11 16:20] #60 closed, assigned to nobody

[2017-06-11 16:23] mzomparelli commented on #63
I've decided to not use a row at the bottom for this and to just keep it as the right-most column. I don't think I could keep all the thumbnails the same size if I do this. I would like to keep them all the same size.

[2017-06-11 16:24] mzomparelli commented on #67
I'm closing this. If it becomes a bigger issue then I will look into it again.

[2017-06-20 22:09] grant-gregory opened #73 "Keep getting prompted to update the app."
Keep being told to update to Version 1.5.1 since I have version 1.5.0. I click yes and then it downloads and subsequently tells me I have an update available for version 1.5.1 (and that I still have version 1.5.0). Is there a way I can either 1 install properly, or 2 stop having these popups?

Thanks.

[2017-06-21 00:19] mzomparelli commented on #73
Sorry, this is happening on some machines. I will get around to fixing the updater soon. In the meantime, just grab the current build manually using this link and replace where you have the old version unzipped. I know this bug sucks and I'm sorry. I will fix it.

http://zomp.co/Files.aspx?id=zVD

I hope everything else is working ok. Keep the feedback coming. I really appreciate it.

[2017-06-21 00:24] mzomparelli commented on #73
I am going to close this issue soon though because I already have an issue open to fix the updater. Again, I'm sorry for the inconvenience.

https://github.com/mzomparelli/zVirtualDesktop/issues/57

[2017-06-21 00:29] mzomparelli commented on #73
Out of curiosity, what kind of machine are you running that is giving you issues? I run zVD on several PCs and this updating issue only happens on my Surface Pro 4.

[2017-06-21 15:40] grant-gregory commented on #73
Thanks for your help! I have a Surface Pro 4 as well. It may have to do with how Surface devices utilize a very stringent Secure Boot - although I'm not sure.

[2017-06-21 22:10] #73 closed, assigned to nobody

[2017-06-27 15:36] mwalker212 opened #74 "1.0.52 and 1.0.53 update notifications"
I'm running 1.0.51 and this morning I had a notification for 1.0.52 but when I accepted the update it simply closed the current version and nothing happened, the executable was not updated. I then received another notification this afternoon after a restart for version 1.0.53 but that, too, did the same thing and, so, I still have 1.0.51 installed.
I note that these new versions don't appear on he

[2017-06-27 15:46] mzomparelli commented on #74
Yes, all updates are legit. I'm the only one with the current source code.

When this happens simply download the new EXE manually. Some PCs are having this update issue and I'm looking into it. Sorry for the inconvenience.

http://zomp.co/Files.aspx?id=zvdexe

[2017-06-27 16:02] mwalker212 commented on #74
Hmm, just to follow on from that, I downloaded the update and when I tried to run it Windows chimed in with the following message:

Windows protected your PC
Windows Defender SmartScreen prevented an unrecognised app from starting. Running this app might put your PC at risk.

Application:
zVirtualDesktop.exe
Publisher: 
Unknown publisher

[2017-06-27 16:21] mzomparelli commented on #74
This is because I did t sent a link to the zipped file. You can get past smart screen. There should be a link that says run anyway. The file is safe, but if you're uncomfortable then no one is making you use it.

You can try this link to the zip file or just use the green download button on GitHub next to the donate button. That link always get the most recent zip file.

HTTPS://zomp.co/files.aspx

[2017-06-27 16:24] mzomparelli commented on #74
Actually, don't use the github link yet. It still points to Dropbox. I'll update that in about 30 min.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Michael Zomparelli <michaelzomparelli@gmail.com>
Sent: Tuesday, June 27, 2017 11:20:56 AM
To: mzomparelli/zVirtualDesktop; mzomparelli/zVirtualDesktop
Cc: mzomparelli; Comment
Subject: Re: [mzomparelli/zVirtualDesk

[2017-06-27 16:28] mwalker212 commented on #74
No problem, I allowed the other download to run. All good :)

[2017-06-27 16:38] mzomparelli commented on #74
Awesome!

I just updated the link on the main github page. When this happens again you can simply use the github download link

https://zomp.co/files.aspx?id=zvd

How do you like zVD? I made it for myself and realized others would like it too.

[2017-06-27 17:12] #74 closed, assigned to nobody

[2017-06-27 18:52] mwalker212 commented on #74
I tried using Linux (Ubuntu) as my main desktop for about a year or so but little things here and there eventually brought me back to Windows. One of the main things I missed from Linux, though, was the easy virtual desktop switching, and your app is the perfect option I've found for Windows, and then some. So a job well done. I'll sort out a donation in the near future :)

[2017-06-27 18:53] mzomparelli commented on #74
Thanks for the great feedback. Hearing it never gets old.

[2017-07-01 20:03] robinrosenstock opened #75 "WMI Provider Host, high CPU-usage"
If zVirtualDesktop is active, then on my Computer the WMI Provider Host is around 7-8% CPU Usage

[2017-07-01 22:07] mzomparelli commented on #75
I haven't noticed this. I just checked and the WMI process is fine on my PC with zVD running. Could you provide some additional info, like what you were doing with zVD at the time. Also, by chance, is your Windows 10 an upgrade from a previous version of Windows? After reading some articles it appears many users see this after an upgrade. I don't recommend upgrading. You should always format and i

[2017-07-01 22:14] robinrosenstock commented on #75
My System was a fresh Windows 10 install. Is it because of the „Creators Update“? Unfortunately, I have no idea, which other application is interfering with zVD on my machine...

[2017-07-01 22:20] mzomparelli commented on #75
The creators update should be fine. I have the latest Window 10 updates on all my machines and none of them have this issue. Does zVD function normally for you or are you having issues? Is there specific area in zVD you can point to that might be the culprit? I'm basically asking if you can pin point it to something you were doing in zVD. I don't know of any programs that don't play nicely with zV

[2017-07-01 22:27] robinrosenstock commented on #75
zVD is functioning normal, but only the WMI Provider Host process drains CPU. I had thought, that maybe this is a known problem... and because I don't know, what can be done to solve my problem, maybe you should close this issue. Maybe keep in mind this Problem, if it pops up someday again. Thanks

[2017-07-01 22:28] mzomparelli commented on #75
There is something that I want to try for the next update that might help. I'm going to leave this open so that I can come back and ask you if the update helped. I should get this update in within the next few days.

[2017-07-01 22:28] robinrosenstock commented on #75
Ok, Thanks again

[2017-07-01 23:16] mzomparelli commented on #75
I got to this sooner than I thought I would. Version 1.0.55 addresses some exception handling that I feel might be causing your issue.

[2017-07-01 23:49] mzomparelli commented on #75
I don't think that version will fix it. After more investigation I think I might have found the true issue. Should have another update soon.

[2017-07-02 00:19] mzomparelli commented on #75
ok, I've identified it and removed what was causing this. It opens up a bug again that I have to figure out another way to solve. I was running a WMI query to check if the login screen is visible because once it's not visible I have to clear the modifiers keys that have been pressed. The problem is, when using CTRL+ALT+DELETE to access this screen it prevents zVD from seeing that the keys have bee

[2017-07-02 00:51] mzomparelli commented on #75
I can't have that bug  so until I find a better solution I need to use WMI to test if the CTRL+ALT+DELETE screen is open and closed. The best I can do right now is increase the interval in which I make that test.

[2017-07-02 03:34] darboleda opened #76 "Update fails and no way to disable update notification"
Auto-update doesn't work for me, so I'd like to have an option to turn it off and update on my own time instead of it bothering me every few hours.

[2017-07-02 03:45] mzomparelli commented on #76
I want everyone to have the latest updates so that unnecessary bug issues aren't created. This ensures that even if the EXE is shared outside of GitHub that the end user is aware of an updated version.

If I changed it to only prompt on startup would that be acceptable for you?

I hope to fix this issue with the updater in the very near future.

[2017-07-02 05:09] darboleda commented on #76
Yes that would be acceptable, too. It's just annoying that the popup appears and interrupts things even though at the moment it's useless. It doesn't help that there have been several updates over the last few days. Another (longer-term) suggestion would be to use a tray notification message for available updates instead. This will give us some OS level control over it at least.

[2017-07-03 02:09] mzomparelli commented on #75
This is fixed when I publish version 1.0.56

[2017-07-03 02:09] #75 closed, assigned to mzomparelli

[2017-07-03 02:14] mzomparelli commented on #76
Version 1.0.56 will only check for updates on launch. I should be publishing that update soon. I look into the notifications suggestion.

[2017-07-03 02:14] #76 closed, assigned to mzomparelli

[2017-07-05 06:59] robinrosenstock commented on #75
Yeah, it's working. I will donate for sure.

[2017-07-05 12:26] mzomparelli commented on #75
Thanks! I appreciate every penny I get. :)

[2017-07-06 15:19] nicolasdejong opened #77 "Request: +3, -3"
(sorry for a feature request without even able to use it on my W10-1511 but I'm just enthusiastic, ok? :-)

Can you add a +3 desktops mapped to DOWN and -3 desktops mapped to UP? That way I could navigate the grid using all four cursor keys.

My initial desktop then would be 5 and the first four others would be LEFT (4), RIGHT (6), UP (2) and DOWN (8).

[2017-07-06 16:56] mzomparelli commented on #77
Can you perform the Windows update manually?

http://go.microsoft.com/fwlink/?LinkID=799445

This is an interesting request. Let me think about it and how I could implement this.

[2017-07-06 18:30] mzomparelli commented on #77
I've been thinking about this as I do my regular work which is  not nearly as fun as working on zVD. I am wondering how you would like the numpad switcher once the hotkeys work for you. I will still consider your feature request, but in the meantime maybe give that a try. Also, have you tried DesktopView? I don't even use the hotkeys anymore since adding DesktopView. I use it in place of Alt-Tab a

[2017-07-06 19:27] nicolasdejong commented on #77
Can't update. I don't have the user rights. Enterprise environment. That's how it goes unfortunately.

Sure, numpad-switcher would do fine as well. But I figured the UP would be like calling the LEFT three times in a row (same for DOWN == 3x RIGHT). Just without the animations (as with the 'round robin' option). But it's just a nice-to-have.

DesktopView works good too. That is a good fallback.

[2017-07-06 20:58] mzomparelli commented on #77
Even if you had the rights, the Enterprise version can't install it manually. It has to wait for the auto-update.

It shouldn't be too difficult to implement the feature you want. The problem will be how I label this in the hotkey screen window as a task option so that users understand it. Do you have any suggestions there?

I promised another user a feature that allows you to scroll desktops when

[2017-07-07 03:58] mzomparelli opened #78 "Replace Built-in TaskView Launcher Icon with zVD Icon"
I want zVD to have the option of replacing the TaskView Icon or at least being able to put zVD icon (the desktop indicator) next to the Start Menu.

I've done some research on this and I've come up empty handed. If anyone can point me in the right direction please feel free to do that here. I'll continue to update this as I progress.

[2017-07-07 06:11] mzomparelli commented on #66
Version 1.0.57

[2017-07-07 06:11] #66 closed, assigned to mzomparelli

[2017-07-07 08:00] nicolasdejong commented on #77
No hurry. I'm glad you are so quick to reply already. And it's not like I can use it at the moment ;-)

My suggestion would be to label it like this:

Navigate to Desktop #n-1 -- ALT+WIN+LEFT
Navigate to Desktop #n+1 -- ALT+WIN+RIGHT
Navigate to Desktop #n-3 -- ALT+WIN+UP
Navigate to Desktop #n+3 -- ALT+WIN+DOWN

Thanks!

[2017-07-08 04:43] mzomparelli commented on #77
I've been thinking about this and I'm pretty sure I have it all figured out in my head. This is actually going to be fairly easy to implement. It will be setup as a hotkey action for which you will be able to program your own key combination. You already know what you want yours to be, but I don't want to force others to have it that way. I want to keep the hotkeys completely configurable. Anyway,

[2017-07-08 05:00] mzomparelli commented on #77
Also, please share this app with anyone that you think will like it. Share on Facebook, Reddit, LinkedIn....wherever. It is my users that make this program what it is, It is the feedback and feature requests, like yours, that test my abilities to make zVD a great utility.

[2017-07-08 06:06] mzomparelli commented on #77
@nicolasdejong
Question:
What do I do when the user is on desktop 8 and presses down (+3)? Round-robin or wall?

[2017-07-08 07:14] nicolasdejong commented on #77
That's great, thanks! I have no idea why my employer is waiting so long to update. All we can do is wait. Perhaps I should update my personal laptop to W10 but I hardly use it.

Regarding the 8+3 (or 2-3), you already have a round-robin option. Perhaps use that? In round robin an (n+3)%desktops should do the trick.

[2017-07-08 20:29] mzomparelli commented on #77
@nicolasdejong  Would you like to help me with something?

When I release this update I want the change log to display an image. This image will be an example of how this grid feature should work (using arrow keys as the example). I want users to fully understand and I think a picture will help them grasp it. Will you create that image for me? I will give you credit for it in the change log. Or ma

[2017-07-09 17:40] nicolasdejong commented on #77
Sure. I think text will suffice, but I'll try it for a bit. Please allow me a few days to find the time.

[2017-07-09 18:11] Aran-Fey opened #79 "zVD using 40% CPU"
I just upgraded to version 1.0.58 from 1.0.56, and now zVD permanently uses 35-40% CPU power. I'm not even interacting with it, all I do is start it.

Is there any way I can downgrade to an older version until this is fixed?

[2017-07-09 19:03] mzomparelli commented on #79
I'm taking a look now. I should be able to apply an update to fix this.

[2017-07-09 19:58] mzomparelli commented on #79
@Rawing I have addressed this in an update. It should be ok now while I figure out a better solution.

Version 1.0.59 - Restart zVD and it should ask you to update.

I'm going to leave this open while I come up with a better solution.

As far as downgrading...I don't want my users to do this because then they are discouraged from updating further. Instead, I want my users to know that I address bu

[2017-07-09 20:16] oywino commented on #79
I too experienced this issue when upgrading to 1.0.58
But from what I saw, zVD consumed 100% of a single logical core (randomly shifting around between my 8 cores). On average, this amounted to approx 20% total constant CPU load.  Upgrading to 1.0.59 seem to have solved this issue for now.

[2017-07-09 20:21] mzomparelli commented on #79
@oywino thanks for the update. I'm happy to know that 1.0.59 fixed this for you. It's not a bad fix, but it's not the way that I want to handle it because there are potential side effects. Definitely create a new issue if something doesn't feel right. I use zVD every single day, can't live without it now, so I too will be looking for anything that doesn't feel right. Thanks @Rawing for pointing th

[2017-07-09 20:21] oywino commented on #78
For what it's worth, I have turned off the TaskView icon since I began using zVD.
I see no reason to bring it back. It's just another icon wasting valuable space, while offering little value. After all, when I miss it, I can always hit Win+Tab.
My advice - spend your valuable time, expertise and energy on other issues. :-)

[2017-07-09 20:28] oywino opened #80 "MOUSE-TASKBAR-SCROLL and MOUSE-ANYWHERE-SCROLL EXPLAINED"
I read about the above in your version history, and I am a bit embarrassed to admit that I completely failed to understand what function/feature you try to implement/explain here. But I have a feeling it's something I want. Could you please elaborate a bit deeper and explain what exactly MOUSE-TASKBAR-SCROLL-UP and MOUSE-TASKBAR-SCROLL-DOWN means?  What should I do and what effect should I expect

[2017-07-09 20:34] mzomparelli commented on #80
Yes, I would be happy to.

By creating these as "keys" you can choose from, it is not limited to just navigating to desktops. Here's what I do:

Volume Up:  +MOUSE-TASKBAR-SCROLL-UP
Volume Down: +MOUSE-TASKBAR-SCROLL-DOWN
When my mouse is over the taskbar and I scroll the volume is adjusted

Navigate to Next Desktop: CTRL+WIN+MOUSE-ANYWHERE-SCROLL-UP
Navigate to Previous Desktop: CTRL+WIN+MOUSE-AN

[2017-07-09 20:39] oywino commented on #80
No - regretfully. If I hold down CTRL+WIN and then use the scroll wheel on my mouse, I get all kinds of effects depending on where my mouse is. If Inside Mail For Windows, the font is scaled (up/down). If I'm on my desktop, all my shortcut icons scale (up/down).. etc.
I am unable to figure out what/how zVD comes in to play.... !?

[2017-07-09 20:40] mzomparelli commented on #80
Did you setup the CTRL+WIN+SCROLL hotkey? Let me test this out with Mail. It works for all my other programs.

You have to set this up as you would any hotkey.

[2017-07-09 20:44] mzomparelli commented on #80
I just tested the mail app and it works as expected. Can you post a screen shot of the hotkey window for this particular hotkey?

Here is what mine looks like.

This is my navigate desktop with ANYWHERE scroll
![image](https://user-images.githubusercontent.com/10564234/27997428-71839a06-64bd-11e7-87e1-1489db2af528.png)

This is my volume control with a TASKBAR scroll
![image](https://user-images.g

[2017-07-09 20:55] oywino commented on #80
Aha, now I see. Perhaps I'm a bit slow - but I failed to understand that I first had to configure this the way you've now illustrated by these two screenshots. Thanks a lot.

[2017-07-09 20:58] mzomparelli commented on #80
That's my fault. I never explained it very well. Would you say it makes sense this way now that you know? It allows for the best configuration this way I think. You get to choose exactly what you want to do. I'm going to leave this open so others can benefit after my failure to explain off the bat.

[2017-07-09 21:07] mzomparelli commented on #78
Thanks for reading this!!

That's my point too. I stopped using TaskView as well. I think my icon in it's place would be better. Imagine TaskView icon giving you a number that indicates which desktop you are on. Basically moving my icon from the system tray to the where TaskView is.

I'm not actually putting any time into this. I looked and there appears to be no way to do this, so I put it here a

[2017-07-09 21:13] mzomparelli commented on #79
There is a slightly tweaked version of 1.0.59 that I just put out. You won't see it unless you manually update.

https://zomp.co/files.aspx?id=zvd

[2017-07-09 21:32] oywino commented on #80
Oh absolutely.
My goal is to be able to do as much as possible without having to take my hands off the Mouse, and at the same time with as few mouse clicks/moves as possible. I've been thinking on buying one of those fancy gaming mouse with tons of buttons and flashing red lights, but so far I've resisted the temptation just because I do not want to learn to many customized tricks that cannot be u

[2017-07-09 21:34] oywino commented on #79
What are we supposed to look for?

[2017-07-09 23:47] mzomparelli commented on #79
You shouldn't notice much difference if any at all.

[2017-07-09 23:52] mzomparelli commented on #80
Thanks for the feedback. I did not forget about you request and I have not rejected it. I haven't decided if I will or not.

As far the wallpaper goes. Let me see how that feels if I change the wallpaper before moving. If it feels good then it will be in the next update.

[2017-07-10 05:19] nicolasdejong commented on #77
Ok, how about this:

Navigation +3, -3

These navigation options exist as support for the 'grid' icon.
It assumes 9 desktops in a 3x3 grid as follows:

1 2 3
4 5 6
7 8 9

The +3 then acts as going one row down.
The -3 then acts as going one row up.

When the 'round robin' option is checked, doing +3 on the bottom row will navigate to the top row (e.g. 8 -> 2).
When the 'round robin' option is unch

[2017-07-10 05:23] nicolasdejong commented on #77
It may be nice to have an option that prevents moving between rows when doing +1 & -1 which supports 'round-robin', like +1 :: 3 -> 1 otherwise +1 :: 3 -> 3. Like a '3x3 grid' mode. Just a nice to have, nothing more.

[2017-07-11 21:43] grant-gregory commented on #73
@mzomparelli
When I try to download the newer version from the link above, or from GitHub Windows Defender tells me that a virus is detected... I am stuck on this version and can't get to .60

[2017-07-11 22:44] mzomparelli commented on #73
It might just be smartscreen blocking it because it came from the internet. Try this link to download the current version manually. FYI, this link will always get you the current version.

https://zomp.co/files.aspx?id=zvd

[2017-07-11 22:54] mzomparelli commented on #73
Sorry, I see I already provided the link. I have Windows Defender and it doesn't say anything to me. I just sent it to VirusTotal. Sometimes it gets flagged and a rebuild can fix it.  I'll see what I can do.

[2017-07-11 23:09] mzomparelli commented on #73
Windows defender isn't picking it up. This has to be Smartscreen. You should see a link in the lower left hand window of the warning. Click that and you will get an option to execute. I don't use Smartscreen. I am my own Smartscreen ;)

https://www.virustotal.com/en/file/9137c983a13f8d8cc82ece15e91131da4b2addcf2317e25f9e124b4b87f737b5/analysis/1499813545/

[2017-07-12 18:30] grant-gregory commented on #73
Thanks, I was able to install it.

[2017-07-17 17:17] jjhidalgar opened #81 "Mouse goes crazy/laggy after updating 1.0.61"
I recently updated to this version using auto-updater. I found out that my mouse is not working properly when app is running, it is completely lagged. Any ideas?

[2017-07-17 17:47] mzomparelli commented on #81
Did you use version 1.0.57, 1.0.58, 1.0.59, or 1.0.60? The mouse hook was implemented in 1.0.57.

When did you do the update to 1.0.61?

Can you try the latest? There were some slight changes done to 1.0.61. The check for updates could cause the program to freeze when a connection to my server could not be obtained. The changes made those calls on a separate thread to avoid blocking the program.

[2017-07-17 19:28] jjhidalgar commented on #81
Fixed. Somehow this time I downloaded from realeases 1.0.51 and then inmediatly updated to 1.0.61 and that path took me to the bug I was telling. Downloading 1.0.61 directly from your link works good.

Edit. Not sure if i am right or wrong. I found slightly wrong mouse behaviour (might me how I feel it now, need more testing)

[2017-07-17 19:36] mzomparelli commented on #81
Even if the main program froze, the mouse hook is on a separate thread so it shouldn't be causing any issues. Definitely keep me posted if you experience anything unusual. I will be testing myself and I'll report my findings in this issue.

[2017-07-17 21:14] jjhidalgar commented on #81
I tested it further and I am sure it is lagging my mouse. It even makes it annoying.

If you like me to share any info about my pc/hw I will be happy to supply.

[2017-07-17 21:24] mzomparelli commented on #81
Yes, please comment with the spec of your machine. Is the lagging persistent or just at certain times? I think I will add a button that can toggle the mouse hook on and off. This would let you turn it off, but would break any mouse hotkeys you created.

[2017-07-17 22:34] mzomparelli commented on #81
Will you please download a modified version of 1.0.61 and replace your existing copy? I added a button Settings -> About -> Start/Stop Mouse Hook.

This will let you turn it off while I investigate it. When off, any hotkeys that use the mouse will not work.

https://zomp.co/files.aspx?id=zvd

[2017-07-18 02:10] mzomparelli commented on #81
I've been able to reproduce this issue using Excel and a VLOOKUP formula. Changing Excel setting so that it uses one less than the number of cores in my processor fixed it for me. This occurs when a processor intensive task is allowed to execute (and hog) the processing power.

I've tried several other things too. I set the mousehook thread priority to `highest`
I've tried setting zVD process to r

[2017-07-18 02:40] mzomparelli commented on #81
Here's something I'm considering...

Make the mouse hotkeys require a modifier key. The mousehook is only enabled when there is a modifier key pressed. This means that if you see a mouse lag then you could simply release the modifier key.

[2017-07-18 03:19] mzomparelli commented on #81
In the next version...

If you turn off mouse hook it will still be enabled when you press a modifier key. Once keys are up it will turn off the mouse hook. This will limit your mouse hotkeys for use only with modifers. The only one I can think of to use without modifiers is the TASKBAR-SCROLL which I currently use for volume up and down.

You can use this now if you download from here.

https://z

[2017-07-18 11:37] jjhidalgar commented on #81
Nice. Thanks for your time and efforts. Your last version works perfect on me since I do not use mouse hooks so I simply did not enable them.

Anyway I find it kind of weird that enabling them makes the mouse lag. I would love to help but my experience with c# is below zero. But it seems very weird taking into account that we are not even following the mouse path but just wheel or buttons. So I ca

[2017-07-18 12:37] mzomparelli commented on #81
It makes me happy that you like DesktopView. It's also my favorite part of the app and I have it setup to a mouse key. Since this new feature resolves your issue I'm going to close this.

[2017-07-18 12:37] #81 closed, assigned to mzomparelli

[2017-07-18 19:33] enumag opened #82 "Is there a hotkey for Desktop View?"
The desktop view is a great feature but it seems the only way to access it is though the tray icon? I don't see any hotkey like that in the settings.

Also I'd like to have the pinned apps column in desktop view on the left instead of on the right. I usually use like first three desktops and I don't like dragging all the windows I want to pin across the whole 32'' screen. (This is not too importan

[2017-07-18 19:40] enumag commented on #82
Oh and by the way the download button in readme is still broken for me in Firefox the same way as I reported some time ago.

[2017-07-18 20:04] mzomparelli commented on #82
There is a hotkey action for it. It's called "Toggle Desktop View" and I have it set to CTRL+SHIFT+Z. I did not default a hotkey for this.

The pin column started off on the left and it confused others and myself so I switched it to the right. Maybe I'll add an option for the user to choose left or right.

[2017-07-18 20:04] oywino opened #83 "Hotkeys Not Working"
Hi, After upgrading to 10.0.61 today, none of my shortcut keys work anymore. I can manually access the desktopview and change desktops vis the taskbar icon, so the program itself is running, but is doesn't respond to any of the key combinations anymore.
Please help...?

[2017-07-18 20:09] mzomparelli commented on #83
Go into the about screen and turn on the mouse and keyboard hook

In my screenshot they say "Stop" because they are already on. Yours should say "Start".

![image](https://user-images.githubusercontent.com/10564234/28337370-0c39764c-6bcb-11e7-8340-3ab1ba625234.png)

[2017-07-18 20:10] mzomparelli commented on #83
I accidentally have this default to off. I will fix that in the next update. Once you turn them on they will turn on automatically when you restart the app.

[2017-07-18 20:11] oywino commented on #83
Back in business again... thank you! :)

[2017-07-18 20:12] mzomparelli commented on #83
I added these just in case some users had issues with the mouse hook. They can turn it off.

Actually the mouse hook doesn't go off completely. If you turn it off, and the keyboard hook is on, then the mouse hook will automatically start when you  press a modifier key and turn off when you aren't pressing a modifier key.

[2017-07-18 20:15] mzomparelli commented on #82
I'm going to download Firefox and test the button.

[2017-07-18 20:15] mzomparelli commented on #79
Closing this as resolved

[2017-07-18 20:15] #79 closed, assigned to mzomparelli

[2017-07-18 20:18] enumag commented on #82
I don't see any such hotkey in zVirtualDesktop settings (using v1.0.61). Also CTRL+SHIFT+Z is not doing anything.

[2017-07-18 20:26] mzomparelli commented on #82
You have to setup the hotkey:

![image](https://user-images.githubusercontent.com/10564234/28338120-87eccb52-6bcd-11e7-9da3-771010e6e229.png)

[2017-07-18 20:28] enumag commented on #82
Yeah I found that in the meantime. But even after I add it this way it does not work.

[2017-07-18 20:29] mzomparelli commented on #82
Read this and make sure the hooks aren't off. They default to off by accident. once you turn them on they will turn on every time you start zVD.

https://github.com/mzomparelli/zVirtualDesktop/issues/83

[2017-07-18 21:05] enumag commented on #82
Yeah, that helped. Thanks.

[2017-07-18 21:05] #82 closed, assigned to mzomparelli

[2017-07-18 22:33] mzomparelli commented on #81
I should point out that other apps using a mouse hook could experience the same thing. Typically a game will and I suspect C++ might run faster without the overhead of the .Net Framework. I have searched for solutions, but I haven't found anything. I can't use RawInput because I need to be able to prevent the keys from going to the next hook when a hotkey is activated. RawInput runs asynchronously

[2017-07-19 00:59] mzomparelli commented on #72
I don't know what to do about this. A small annoyance yes. If more people complain I'll reopen the issue.

[2017-07-19 00:59] #72 closed, assigned to mzomparelli

[2017-07-22 14:50] m0ngr31 commented on #59
Just checking the app out. I have this issue a ton. Driving me crazy.

[2017-07-22 17:02] mzomparelli commented on #59
Yeah it sucks. I'm looking for a solution. It does not happen to me at all when I use DesktopView which is really the only way I switch now anyway. I haven't stopped looking for a solution though. If you have any ideas how to handle then let me know.

[2017-07-22 17:25] mzomparelli commented on #59
I wonder if Microsoft is aware of this issue and is why they don't have a hotkey to move windows from one desktop to another. Virtual Desktops is not fully documented and this means there is likely going to be changes. It would't surprise me if they created a view just like DesktopView.

[2017-07-22 17:28] mzomparelli commented on #59
I'm pretty certain this has something to do with focused windows so I'm going to try something to fix it. When you use DesktopView, you change the focus to DesktopView. This is why it doesn't happen when using that method.

[2017-07-22 17:35] m0ngr31 commented on #59
You mentioned that you are killing focus when you leave. What if you tried to do that again when you came back?

[2017-07-22 17:50] mzomparelli commented on #59
it's worth a shot. I was going to try and create a hidden window and give that focus. I'll report back here to inform you how it goes. If I feel good about it, I'll give you a link to a version for you to try.

[2017-07-22 21:05] mzomparelli commented on #59
@m0ngr31 Ok, instead of creating a new hidden window I decided to use the settings form since it is always there just hidden. By setting focus to the settings form before switching desktops I seem to have solved this. You still may get a blink but it should quickly stop. Please note that if the settings window is visible when you switch then you will cause this issue to appear, so don't do that.

[2017-07-24 10:48] jjhidalgar opened #84 "Freeze when app asks for exit confirmation"
Hi, I found a little -bug- which may be a little bit annoying. When I close an app from the desktop view and this app asks for confirmation "are you sure you want to close bla bla you have pending work..." then it freezes, I can neither close desktop view nor see the message. zVirtualDesktop remains unresponsive until you close the message, and force closes if you click on any part of the desktop

[2017-07-24 12:30] mzomparelli commented on #84
Thanks for the feedback. I'll look into this. One thing I know I can do differently is Post the message instead of sending it. I was surprised that I am using SendMessage actually. I'm going to look into other messages to send as well.

[2017-07-24 23:08] mzomparelli commented on #84
Replacing `SendMessage` with  the asynchronous `PostMessage` fixes this issue, but the thumbnail is removed from DesktopView right away. It's ok though because if you cancel the closing then it'll be there when you open DesktopView again. I'll publish an update tonight. I'm going to see what else I can take care of.

[2017-07-25 01:00] m0ngr31 commented on #59
Same issue :/

[2017-07-25 01:20] mzomparelli commented on #59
Yes, I can still reproduce it too. I am now forcing the flash to stop. It's the flashing that keeps it around so if I can stop the flashing then I can stop the window from leaking into another Desktop. Try out the fresh compilation:

Yes, same link

https://zomp.co/files.aspx?id=zvd

[2017-07-25 01:23] m0ngr31 commented on #59
Hey that works pretty good. How are you forcing it to stop the flashing? Occasionally an app icon will show up, but it's not flashing anymore, so that's great.

[2017-07-25 01:25] mzomparelli commented on #59
I can make it flash if I wanted to lol. We don't want that though.

[code]

[2017-07-25 01:26] m0ngr31 commented on #59
Although, it does seem to crash pretty easily. Trying to hammer down what the cause is.

[2017-07-25 01:27] mzomparelli commented on #59
zVD crashing? Visit the Windows log and let me know. You can only get the needed info for a crash from the event logs. I need the stack trace please.

It never crashes for me. Not since I handled the memory leak in DesktopView

[2017-07-25 01:28] mzomparelli commented on #59
Start a new issue for the crash

[2017-07-25 01:30] m0ngr31 opened #85 "Crash on new version"
[code]

[2017-07-25 01:33] mzomparelli commented on #85
Thanks! I'm working on this now. You can test for me :)

[2017-07-25 01:49] mzomparelli commented on #85
A crash can't happen there anymore. How fast are pressing modifier keys to make that happen lol

https://zomp.co/files.aspx?id=zvd

[2017-07-25 02:54] mzomparelli commented on #59
I may have fixed the window issue. I'm forcing the Taskbar to get focus and I'm posting a click message to it.

https://zomp.co/files.aspx?id=zvd

[2017-07-25 03:34] m0ngr31 commented on #59
Does this have the fix for the crash earlier too?

[2017-07-25 03:41] m0ngr31 commented on #59
Seems to. I can't make it crash anymore. And the highlighting apps is gone. Nice job!

One small request... If I hold down Ctrl+Win and do left or right, and I can go left and right as many times as I want until I try and do the "round robin". In that case, I have to take my fingers off of Ctrl+Win and go left or right to get to the opposite desktop. Anyway around that issue?

[2017-07-25 04:06] mzomparelli commented on #59
Sorry, I created that bug just now. Sorry about that. Try the update.

https://zomp.co/files.aspx?id=zvd

[2017-07-25 04:10] mzomparelli commented on #85
Fixed in version 1.0.63

[2017-07-25 04:10] #85 closed, assigned to mzomparelli

[2017-07-25 04:11] mzomparelli commented on #84
Fixed in version 1.0.63

[2017-07-25 04:11] #84 closed, assigned to mzomparelli

[2017-07-25 04:42] mzomparelli commented on #59
Closing as fixed as good as it is going to get in version 1.0.63. I might revisit later.

[2017-07-25 04:42] #59 closed, assigned to mzomparelli

[2017-07-25 04:45] mzomparelli commented on #57
Version 1.0.63 publishes a new downloader. I don't know if it'll resolve this issue.

[2017-07-25 05:09] mzomparelli commented on #77
This made it into version 1.0.63

[2017-07-25 05:09] #77 closed, assigned to mzomparelli

[2017-07-25 18:55] jjhidalgar commented on #84
Thanks!
Can not test it but I'm sure it will work!

[2017-07-26 15:38] buchmiller commented on #83
I updated from 1.0.60 to 1.0.63, and it did not automatically restart the hooks. I read the comments in this issue to figure out how to get it working again.

[2017-07-26 15:48] mzomparelli commented on #83
@buchmiller ok if I'm understanding correctly, you have it working again after turning the hooks on?

New users have the Keyboard hook automatically started. I can't figure out why it's not starting for existing users, but once you start it, it will start automatically every time after that.

[2017-07-26 17:29] buchmiller commented on #83
Yes, it is working now. It just wasn't working right after the update.

[2017-08-01 06:52] mwalker212 opened #86 "Windows key doesn't work on first press after using zVD hotkeys"
Hi, I noticed this a while ago, so it's not a new issue, but it seems the Windows key does not work first time after using any of the zVD hotkeys.
I use Alt-Dx for switching windows, CRTL+WIN+NumPadx for moving and same plus Alt for move and follow. After using any of those, if I then press the Windows key to get the start menu, nothing happens until I press it a second time.
Is this a common issu

[2017-08-01 12:26] mzomparelli commented on #86
This is a known issue. I will looking into this further next week.

[2017-08-01 23:18] mzomparelli commented on #86
I have identified why and where this is happening. You'll be thrilled to know that I am running a version that doesn't have this issue :P and I don't plan on releasing the update until next week for two reasons:

1.) I'm moving into my new house on Friday
2.) I have some work that is not finished and I need to finish it before I release.

[2017-08-02 06:45] mwalker212 commented on #86
Good stuff. No problem, I've lived with it up to now ;-)
Good luck with the move.

[2017-08-03 05:19] oywino opened #87 "Win menu pop up"
Hi, each time I move from one desktop to another (independent of whether I use just hot-keys or mouse scroll), the windows main menu always comes up (as it normally does when you just click the Win-Key), and I have to click it "away".
zVD didn't have that problem previously. I'm now on v1.0.63

[2017-08-03 12:27] mzomparelli commented on #87
Is Win key part of your hotkey that is causing this?

[2017-08-03 12:28] oywino commented on #87
Yes, (and it has always been). It was my impression that the combination Ctrl-Win +left/right or numpad was the default (?)

[2017-08-03 12:29] oywino commented on #87
Sorry - didn't mean to close  :-)

[2017-08-03 12:58] mzomparelli commented on #87
It is default. I was just checking. I will look into this, but I won't be releasing any updates until next week. Possibly this weekend. I'm moving into my new house tomorrow! :)

[2017-08-03 13:38] oywino commented on #87
Is there an easy way to revert back to the previous version for me, as this bug is very annoying...?

[2017-08-03 14:03] mzomparelli commented on #87
Nothing new has caused this. It's been a known issue. Sometimes it happens and sometimes it does not. The only way to ensure it doesn't happen is to not use the Win modifier in a hotkey. The reason is that the Win key is supposed to be strictly for Windows. 3rd party applications are not supposed to use it and this is why the WinAPI for RegisterHotkey does not allow you to register the Win key. Th

[2017-08-03 14:50] oywino commented on #87
I see, thanks for the explanation. Strange though that I have never experienced this before. Perhaps it has to do with a recent update of Windows 10 ?

[2017-08-03 15:12] mzomparelli commented on #87
Win 10 update is a possibility. I'm using Win 10 and I haven't done updates in a while on my work machine and using Win in my combinations is working fine. The only way I can reproduce this is when I use the Win key without any other modifier keys. Even then it doesn't happen every time. It sucks and I'm sorry. I'll do my best to figure something out.

[2017-08-03 19:08] oywino commented on #87
What I've noticed also now, is that the key-combinations that require use of the AltGr key (such as the @ sign on my keyboard where I have to press AltGr+2 to get) no longer works.
I seem to recall this to have been a problem with a very early version of  zVD, which you did correct quickly (but I may be mistaken or mixing things up with some other SW)

[2017-08-03 20:15] oywino commented on #87
I now installed 1.0.63 on another Windows 10 PC before updating Windows with the Cumulative update KB4025342, and it does not have a problem with the Win key (for what it is worth).

[2017-08-04 00:20] mzomparelli commented on #87
Thanks for that info. Can you confirm if the AltGr works on that machine? I haven't changed anything that would cause this to stop working.

[2017-08-04 08:28] oywino commented on #87
Yes, AltGr works on that machine - also after Windows 10 latest update.
So this seems to be a problem only with my main Windows10 Workstation. And I remember having had it one time earlier, but of course I can no longer remember exactly how it was resolved. I just assumed it was related to an upgrade you did. The funny thing now is that even if i exit zVD, the problem partly persists.  :-(
Meaning

[2017-08-05 15:04] m0ngr31 opened #88 "Regain focus after switching"
So after the fixes you made were programs no longer flash after moving around, it'd be great if you could remember which programs were in focus when you left a desktop so you could regain those after you come back. It's a little annoying to have to click on the window again to start working on something after I come back to a desktop.

[2017-08-07 07:21] nicolasdejong commented on #88
As a workaround you can can press alt-tab after switching desktop. The correct window will gain focus then.

I think it is a Windows bug. A focused text-field can be visible with a blinking cursor, and still the window has no focus. Then you'll be typing in another window on another virtual desktop...

[2017-08-07 07:29] nicolasdejong opened #89 "Black background instead of image after switching desktop"
I always switch desktops using the ctrl-win+numpad. In many cases (20%ish, more often the lower numbers it looks like...) the configured background image updates to a black image. This does not seem to happen using the ctrl-win-cursor keys.

I'm using 4K images on a 4K screen so they may take a bit longer to load/set leading to timeouts perhaps. Generally the background image changes about two sec

[2017-08-09 18:20] oywino commented on #87
I also notice that when I change desktops (either using shortcut keys or the mouse), in addition to the already mentioned issues, now - all too often the background comes up only black. I have to switch back and forth between two desktops to make it appear again. I never had this problem before.
I hope you can find the time to fix these issues, cause it is somewhat frustrating...

[2017-08-10 20:59] mzomparelli commented on #87
I will look into these issues.

[2017-08-11 06:46] oywino commented on #87
Thanks, also for your information (if can be of any help) - the problem with the black background never happens if I use Move Window to Desktop & Follow.

[2017-08-11 14:01] mzomparelli commented on #87
Thanks, that's helpful to know. I will be addressing these issues tonight and over the weekend.

[2017-08-18 13:31] oywino opened #90 "cut'n'paste is misbehaving..."
I noticed now after the most resent update that cut'n'paste between windows only works if the windows are on the same desktop... (!?)
Never noticed this as a problem before.
Any idea?

[2017-08-18 15:08] mzomparelli commented on #90
What are you cut and pasting? I can't reproduce this on any of my machines. It works for text and files.

[2017-08-18 20:41] oywino commented on #90
Plain text...

[2017-08-19 22:06] mzomparelli commented on #90
I'm not sure zVD is causing this issue. I use copy/paste a lot on a daily basis and would have noticed this. I can't work without copy/paste.

[2017-08-21 17:49] mzomparelli opened #91 "zVD Crash"
Putting this here in case any others sees this same crash stack trace. I'm not sure what the user was doing before the crash, but I suspect the PC was going/returning from sleep/hibernate.

Application: zVirtualDesktop.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.Runtime.InteropServices.COMException
   at System.Run

[2017-08-22 21:08] oywino commented on #87
Another piece of information; The issue with the the Windows main menu popping up also happens if I jump to a new desktop using your virtual desktop layout (with all the desktops laid out as vertical bars). So I don't even have to press the Win key to have that annoying effect....
Any luck in hunting down this bug so far?

[2017-08-23 02:05] mzomparelli commented on #87
There's no reason that DesktopView would make the Start Menu open. How are you accessing DesktopView? Anyway, I think I have this fixed and I plan on publishing an update later tonight.

[2017-08-23 05:30] oywino commented on #87
I just click on the taskbar icon. That brings up the DesktopView and I use the mouse to select which desktop I want to change to (I have six active). Regardless of which one I chose, the Win menu always comes up when I get there.

[2017-08-23 13:44] mzomparelli commented on #87
That's really weird. I pretty much only use DesktopView for moving and navigating and the Start Menu never pops up. I have DesktopView setup to open with CTRL+SHIFT+Z and that is tied to a mouse button. Can you grab a screen shot of your version like below? Open the run dialog and type WinVer

![image](https://user-images.githubusercontent.com/10564234/29618928-3f7edbb6-87df-11e7-917e-18a06cccad32

[2017-08-23 19:09] oywino commented on #87
I've changed the hotkeys from Ctrl+Win to Ctrl+Alt but that makes no difference. The Win Menu still pops up. Then I restored the original TaskView icon and noticed that if I use this to change from one desktop to another, then everything is ok.

[2017-08-23 19:43] mzomparelli commented on #87
Test this version. I've been making changes, but since it's been a couple of weeks I'm not sure exactly what I changed. This is the most current compilation I have.

[zVirtualDesktop.zip](https://github.com/mzomparelli/zVirtualDesktop/files/1246787/zVirtualDesktop.zip)

[2017-08-23 19:47] oywino commented on #87
Sorry, no difference at all....
The strange thing is that I never saw this problem before v1.0.63
Maybe I should revert back to an old version just to test?

[2017-08-23 19:54] mzomparelli commented on #87
Send me your WinVer. This is very strange. It does not happen for me at all.

[2017-08-23 19:55] oywino commented on #87
![image](https://user-images.githubusercontent.com/18447119/29635593-bd9be3a4-884d-11e7-939c-5c3df7ae7a97.png)

[2017-08-23 19:59] mzomparelli commented on #87
We have the same version

[2017-08-23 20:00] oywino commented on #87
I know.
Maybe if there is a way to wipe out all zVD config (settings) and revert back to the default (perhaps somehow a setting file got screwed up)?

[2017-08-23 22:48] mzomparelli commented on #87
I highly doubt it has anything to do with the settings file. However, to test you can use this exe. On Settings/About there is a button that says Reset Settings. This will delete the file. Restart zVD and the file will be automatically created again.

If you don't think it is deleting the file then you can manually delete the file. Do a windows search for zVirtualDesktop9.bin and delete the file.

[2017-08-23 22:58] mzomparelli commented on #87
Which keyboards do you have active in Windows? I wonder if it has something to do with international keyboards.

[2017-08-23 23:00] mzomparelli commented on #87
Also, try turning the mouse hook off and then using DesktopView by clicking the System Tray icon. See if that makes the Start Menu pop up. I wonder if this started when I added the mouse hook.

[2017-08-24 06:31] oywino commented on #87
Well, I do not know how to disable the Mouse-Hook, so I just set it to something silly...  But it makes no difference...

[2017-08-24 14:25] mzomparelli commented on #87
In Settings/About click on Stop Mouse Hook Button. If it says Start then leave it alone.

[2017-08-24 17:05] oywino commented on #87
Well, Now I've stopped Mouse Hooks, as well as Keyboard Hooks, but the problem remains...  :-(
The only way now to switch between desktops using zVD is through the task icon, and the Win Menu pops up.  If I use the TaskViewer, everything is ok.

[2017-08-24 18:07] mzomparelli commented on #87
This is very strange. There's no reason the Start Menu would be popping up. Have you tried restarting your PC? Are you using any keyboards that are not English - American? I wonder if it is a keyboard issue.

[2017-08-24 18:29] oywino commented on #87
No, I have a regular Norwegian Keyboard - the same keyboard I've always used (Since I first began using zVD). Now That I've disable both the Mouse Hooks as well as the Keyboard Hooks, I can again use the default Windows Ctrl-Win + left/right arrows to move between desktops, and that works ok. No menu popup. But if I click the zVD taskbar icon and bring up the desktop view of zVD and clik on any on

[2017-08-24 18:33] mzomparelli commented on #87
I wonder if the Windows updates affected the Norwegian keyboard. I'll do some testing with other keyboards when I get home this evening.

[2017-08-24 18:36] oywino commented on #87
I mentioned reverting back to an earlier version of zVD.. don't you thinkthat's worth a try?

[2017-08-24 19:58] mzomparelli commented on #87
I don't retain previous versions, but if you have a previous version then you may use it. There is a certain version (I can't remember when I implemented it) that will prevent you from being 5 versions behind so that will eventually mess you because it will kill the app if you say no to an update.

While it's zVD that has the issue, I'm not convinced zVD is the cause. It doesn't appear that anyone

[2017-08-24 20:02] oywino commented on #87
Well, if I hit Win+Space I can change between the English keyboard and the Norwegian Keyboard (This is a standard Windows feature). I've always had that feature enabled.
But doing so, doesn't make any difference.
(I thought for a while you meant physically replacing the keyboard itself)

[2017-08-24 20:12] mzomparelli commented on #87
I would try removing every keyboard except the standard US-American keyboard. That's the only keyboard I use and I'm not having this issue. I don't intend for you to remove it forever, just to test right now. Simply switching keyboards may not be enough.

[2017-08-25 18:52] gabriele-v opened #92 "Mouse hook"
Good evening,
I have some problems with mouse hook: when enabled, mouse it's very slow to move and not precise (maintains some residual movement).
If I stop mouse hook it in about options, mouse returns to working normally.
I don't need mouse hook, so I could keep it stopped, problem it's that sometimes randomly it will re-start again.

Strange thing is that with touchpad, pointer becomes slow, in

[2017-08-25 19:21] mzomparelli commented on #92
If you have the mouse hook turned off in settings then it will still come on when you press a modifier key and turn off when no modifier is pressed. I will consider adding the ability to turn it off completely, but having it only come on when a modifier is pressed should not pose significant issues unless you constantly have modifiers pressed and for an extended period of time.

Can you confirm it

[2017-08-25 21:43] gabriele-v commented on #92
What do you mean for modifier key? For example the combination CTRL+WIN+ALT+RIGHT to move to next screen?
If you refer to this, it could be that it's started after modifier key pressed but not stopped when modifier key released.
For sure the only way to disable it it's going into options and press stop mouse hook.

EXE it's always in the same folder, so it's not highlighted problem.

If you could

[2017-08-25 22:39] mzomparelli commented on #92
A modifier key is WIN, SHIFT, CTRL, or ALT. It will go off when none of those keys are pressed. I'm not aware of any cases where it does not turn off. I'd rather confirm if it is staying on for you and address that issue too.

What are the specs of your PC? Knowing your CPU, RAM, and type of hard drive could be useful. The slower your machine the more the mouse hook will give you issues.

Backgrou

[2017-08-26 05:30] gabriele-v commented on #92
It's a mobile workstation with i7-6700HQ, 16GB RAM, Nvidia Quadro M1000 and NVME SSD so I don't think it's a performance problem :)

It could be that I have really lots of applications open (including multiple video streaming and heavy real-time encoding) but it's completely random, not related to running software: for example yesterday it happened immediately at notebook unlocking.

[2017-08-26 05:39] gabriele-v opened #93 "Feature request: virtual desktop naming"
A helpful feature IMHO will be option to add a name to each virtual desktop and display it for a user definable time (milliseconds) as overlay after switching to that desktop (IE when I switch to next/previous screen I know where I am).

[2017-08-26 16:55] mzomparelli commented on #93
This has been requested already. I haven't gotten around to implementing it yet, but I will add it to my priority list.

[2017-08-26 17:49] mzomparelli commented on #92
I agree that your PC is plenty powerful enough. It's likely all of the programs you have running. The reason this occurs is that I have to handle all mouse events in my app. If it is not a hotkey event then I allow the event to continue through to the programs. If it is a hotkey then I swallow the event and execute the action the user has setup for the hotkey. If you have a lot of programs running

[2017-08-27 07:01] oywino commented on #87
So, I removed all other keyboards but the US, no luck.
When I open the help menu in zVD and tick off the keyboard hooks, everything works fine. I can use the default Windows 10 hot keys Ctrl+Win+left/right arrow.
As soon as I activate the keyboard hooks in zVD again, the Win Menu pops up every time I change desktop.

[2017-08-27 16:04] mzomparelli commented on #87
ok, I just want to confirm that the Start Menu is popping up when you switch desktops and you are not pressing the Win key at any time during this issue?

[2017-08-27 19:13] oywino commented on #87
This is my current scenario:
I have disabled zVD keybord-hooks  as well as mouse-hooks.
I then click on the zVD icon in the taskbar to bring up the zvD desktop-grid, and then click on any of the desktops (or any running app) and the system jumps to that desktop - and immediately the Win menu pops up and remains up until I click anywhere on the desktop outside the menu.
This happens consistently no

[2017-08-27 22:35] mzomparelli commented on #87
And this issue occurs on any PC you try zVD on?

[2017-08-28 09:58] oywino commented on #87
I tried it on another PC and it works OK there. So I started to hunt for differences between the two, and the only one of and relevance and significance I found, was an App named "StartIsBack".
Disabling this on my main PC made the problem disappear! :-)
However, I am just as dependent on StartIsBAck as I am on zVD.
They somehow used to co-exist just well some time ago, but no longer. I updated St

[2017-08-28 12:39] mzomparelli commented on #87
I will try this in a Virtual Machine this evening when I get home from work. I don't like installing software on  my main machines if I don't plan on using it or I know it will conflict with a program I do want to use.

[2017-08-30 19:44] oywino commented on #87
Have you been able to replicate the problem?

[2017-08-31 02:04] mzomparelli commented on #87
Yes I have been able to reproduce this issue, but I'm not further along in figuring out a solution. I'm going to test this with some other Win 10 Virtual Desktop apps. I'll report back soon.

[2017-08-31 02:25] mzomparelli commented on #87
Try this version. This might be re-introducing a different bug. I'm still testing, but this should solve your issue for now. In my opinion, this is really a bug in StartIsBack. They should not be displaying the Start Menu when Show command is sent to the taskbar.

[zVirtualDesktop.zip](https://github.com/mzomparelli/zVirtualDesktop/files/1265585/zVirtualDesktop.zip)

[2017-08-31 02:39] mzomparelli commented on #90
Is this still an issue for you? I can't reproduce it so maybe it's a software conflict. Are you using any clipboard apps?

[2017-08-31 05:36] oywino commented on #87
Yes, this solved the Win-Menu problem, but the background (Desktop Wallpaper) still occasionally comes up black. Then I have to jump back and forth again to restore it. (Regular desktop refresh, doesn't cut it)
But we are progressing now :-)

[2017-08-31 05:39] oywino commented on #90
No, but I'll check some more and let you know if it is.

[2017-08-31 12:09] mzomparelli commented on #87
Cool, I'll be looking into the wallpaper issue tonight.

[2017-08-31 12:09] #87 closed, assigned to mzomparelli

[2017-09-01 00:48] mzomparelli commented on #86
This is fixed in version 1.0.64 which I plan on releasing this weekend.

[2017-09-01 00:48] #86 closed, assigned to mzomparelli

[2017-09-03 02:43] mzomparelli commented on #91
Nothing new on this so I'm closing it.

[2017-09-03 02:43] #91 closed, assigned to mzomparelli

[2017-09-03 02:44] #90 closed, assigned to mzomparelli

[2017-09-03 15:01] istir opened #94 "Instant crash without error code - Software Conflict: Http File Server"
I'm using newest version, but I checked basically every other version and it still didn't work.
On startup I can see tray icon appearing and immediately [this](https://i.imgur.com/ppvu8hS.png) pops up. I searched for error codes but I couldn't find anything, where should I look for them?

Thanks for help.

EDIT:
So after some more searching and trying to solve this myself it looks just like issue

[2017-09-03 17:56] mzomparelli commented on #94
Can you post the stack trace for your crash? You can find it in the Windows Logs and would looks like the stack trace in issue #91. It very well could show the same thing, but I would like to verify it.

Also, the specs of your machine and your Windows version which you can get by typing WinVer into the Run dialog.

[2017-09-03 18:11] istir commented on #94
My Windows is Version 1607, Build 14393.1593 Enterprise LTSB, I thought this could be a problem but friend of mine has the same OS and this program works fine for him.

Actually I think it has something to do with NET Framework, because recently I had similar bug with Virtual Studio 2017

As for logs:
Application: zVirtualDesktop.exe Framework Version: v4.0.30319 Description: The  process was term

[2017-09-03 18:56] mzomparelli commented on #94
Looks like this error was generated on a thread used for logging. The error has something to do with serialization/deserialization of web service data. Some exceptions caught are not necessary for the user to see so they get logged to me for the purpose of improving zVD for everyone. The code that is causing your crash is not necessary for the functionality of the application and I'd like to test

[2017-09-03 19:08] istir commented on #94
Wow, it's indeed problem with network! After disabling ethernet port it works, but well, I can't use my internet that way.
I think that could be something wrong with my router's firmware, as it's custom one.
However, even after blocking zVirtualDesktop in firewall for both input and output it still crashes. Honestly I have no idea what to do from here. Maybe it's something with Avast? Maybe I will

[2017-09-03 19:23] mzomparelli commented on #94
Blocking it in the firewall will prevent zVD from using the network, but it will not stop it from trying. This does seem like a hardware/software problem specific to your machine or network. Keep me posted if you figure it out.

[2017-09-03 19:33] istir commented on #94
I decided to run in safe mode with networking, and it still wouldn't work until I disabled network connection, I tried disabling some network services with task manager but it didn't do anything. Soo I think I just have to keep on using Dexpot :(

[2017-09-04 03:07] mzomparelli commented on #94
Dexpot sucks lol. Personally, I would try resetting my PC and if that failed I would look at router config. I backup everything so for me a full rest is no big deal. In fact, I just did it today after installing a new motherboard. Now it's like nothing changed except it's much faster.

I'd rather get to the bottom of this, but if you'd rather just use Dexpot, then that's fine with me too.

[2017-09-04 06:35] istir commented on #94
Naah, maybe I will try resetting it, I planned to do it anyway, Dexpot is buggy as hell

[2017-09-04 12:06] istir commented on #94
Aaand everything works as intended, thanks!

And while we're at it - is there any way to assign app to certain desktop? For example I would like if spotify launched on desktop 4. Currently I'm using simple ahk script to do that and it's okay.

Oh, and maybe you know if there a way to disable multitasking for other display?

[2017-09-04 15:02] mzomparelli commented on #94
That's my intention for glued apps, but I haven't finished it yet.

Did you figure out what the issue was that was causing your crash? Did you have to reset you PC to get it to work?

What do you mean disable multitasking for the other display?

[2017-09-04 15:16] istir commented on #94
So yes, I reset my PC and I got it to work, but after I installed [Http File Server](http://www.rejetto.com/hfs/) it started crashing again, I'm pretty confident that was the thing that caused it. At the moment I'm trying python approach to local http servers.

What do I mean by disabling multitasking for other display is something like macOS feature that every monitor has different spaces. I don'

[2017-09-04 15:57] mzomparelli commented on #94
I know of that feature in Mac and I think it's silly. I would get confused if my monitors were displaying different virtual desktops. I pin my chrome window while it's playing video so that I can see it whenever I change desktops.

I don't think I could implement that feature anyway. It would have to part of Win 10 Virtual Desktop for me to work with it.

I think your English is great!

[2017-09-04 15:59] istir commented on #94
On Macs as far as I know you can disable that.

So, everything is solved, thanks for help!

[2017-09-04 15:59] #94 closed, assigned to mzomparelli

[2017-09-10 17:34] enumag commented on #92
I didn't read the whole issue but I'm also having issue with zVirtualDesktop interfering with the speed and accuracy of my cursor. Then I found this issue and stopping the mouse hook indeed solved the problem.

Not sure what the mouse hook is for. Can you explain the feature? I won't use it unless this is solved of course, I'm just curious. Also what is the "moddifier key" that triggers the mouse

[2017-09-10 18:59] mzomparelli commented on #92
The mouse hook allows creating a hotkey involving the mouse. Even if you disable the mouse hook in the settings it will still be enable when you are pressing a modifier key. A modifier key is any of the following: ALT, CTRL, SHIFT, WIN

[2017-09-12 03:50] mzomparelli commented on #93
![](https://github.trello.services/images/mini-trello-icon.png) [Desktop Naming](https://trello.com/c/VCSHzycI/1-desktop-naming)

[2017-09-12 03:51] mzomparelli commented on #93
Completed in version 1.0.65

[2017-09-12 03:51] #93 closed, assigned to mzomparelli

[2017-09-12 03:54] mzomparelli commented on #45
![](https://github.trello.services/images/mini-trello-icon.png) [Desktop Switch Overlay](https://trello.com/c/VH9EAAFZ/5-desktop-switch-overlay)

[2017-09-12 03:55] mzomparelli commented on #49
![](https://github.trello.services/images/mini-trello-icon.png) [Glued Apps](https://trello.com/c/tPc8Dt0N/4-glued-apps)

[2017-09-12 03:55] mzomparelli commented on #57
![](https://github.trello.services/images/mini-trello-icon.png) [Updater Bug](https://trello.com/c/zQLAwZAC/9-updater-bug)

[2017-09-12 03:56] mzomparelli commented on #65
![](https://github.trello.services/images/mini-trello-icon.png) [Updater Bug](https://trello.com/c/zQLAwZAC/9-updater-bug)

[2017-09-12 03:56] mzomparelli commented on #71
![](https://github.trello.services/images/mini-trello-icon.png) [Re-arrange Desktops](https://trello.com/c/QWEUGrlD/2-re-arrange-desktops)

[2017-09-12 03:57] mzomparelli commented on #89
![](https://github.trello.services/images/mini-trello-icon.png) [Black background instead of image after switching desktop](https://trello.com/c/ZXog8am6/7-black-background-instead-of-image-after-switching-desktop)

[2017-09-12 03:57] mzomparelli commented on #92
![](https://github.trello.services/images/mini-trello-icon.png) [Allow Permanent Mouse Hook Disable](https://trello.com/c/w4Se14Jy/10-allow-permanent-mouse-hook-disable)

[2017-09-12 07:03] mwalker212 opened #95 "1.0.65 appears to have lost all my settings"
Title says it all. Updated from .64 to .65 and all settings appear to have reset to defaults :(

[2017-09-12 12:27] mzomparelli commented on #95
Yeah, sorry about that. I know it sucks and I'm working on a solution that will allow me to add new options to settings without it causing everyone to lose their current settings. It's not a big deal though, just an inconvenience and I am sorry about it. I'll use this issue that you opened to enhance my process so to avoid this in the future.

[2017-09-12 12:29] mzomparelli commented on #95
![](https://github.trello.services/images/mini-trello-icon.png) [Don't lose settings after updating to a new version that has enhanced settings](https://trello.com/c/Mi2xvScs/11-dont-lose-settings-after-updating-to-a-new-version-that-has-enhanced-settings)

[2017-09-13 00:35] mzomparelli commented on #70
![](https://github.trello.services/images/mini-trello-icon.png) [DesktopView - White thumbnails for Store apps](https://trello.com/c/xOMMGgwK/13-desktopview-white-thumbnails-for-store-apps)

[2017-09-13 05:28] oywino commented on #70
I don't understand your link. What is DesktopView?

[2017-09-13 12:15] mzomparelli commented on #70
Don't worry about my link. I just referenced this issue from my Trello board and it added a link here. DesktopView is the window with all the thumbnails that you can drag n drop to other desktops.

[2017-09-14 01:17] #78 closed, assigned to mzomparelli

[2017-09-14 19:41] Marcus-L opened #96 "Create Chocolatey Package"
To make it easier to install, create a package on chocolatey to allow users to install the tool from the command line. Good idea? I could help with this.

[2017-09-14 19:49] Marcus-L commented on #96
Nevermind, just noticed this is a closed-source project.

[2017-09-14 19:51] mzomparelli commented on #96
@Marcus-L what can be easier than a single EXE file?

[2017-09-14 20:04] Marcus-L commented on #96
I think you mean, "what could be easier than this 17 step process?"

1. open browser
2. search google for the name of the program
3. click through a few links until you find the github page
4. scan through the page until you find the download link
5. click the download link
6. open the zip file in 7zip or windows explorer
7. run the exe from the zip
8. realize it's not an installer, and that it's

[2017-09-14 20:30] mzomparelli commented on #96
So instead of using well known utilities that basic users understand, you'd rather they use a terminal window and execute text commands?

The tool you are showing me is not for single installations. It's a IT tool for deployment. Normal people don't want to execute text commands in a terminal window.

open browser - **Already open, I'm a regular website viewer.**
search google for the name of the

[2017-09-14 21:31] Marcus-L commented on #96
Trust me, once you start using chocolatey you will change your mind. Why not give it a try?

Anyway, a bit of a moot point. Have you any plans to open source this project at some time in the future? I forked the project from the last open source commit, and might start hacking on it from that point. Would have been much nicer to contribute to the actual project but of course it is up to you whethe

[2017-09-19 14:27] mzomparelli commented on #71
I have a need for this feature now so I'm going to figure something out soon.

[2017-09-19 15:33] gitty8 opened #97 "Network Allow Connection?"
To which IP i should allow connection? Can explain each connection?
https://i.imgur.com/jq1mYuy.png

http://ip-lookup.net/index.php?ip=73.209.134.9 (http://zomp.co/Files.aspx?id=... )
http://ip-lookup.net/index.php?ip=91.198.22.70 (checkip-ams.dyndns.com )
http://ip-lookup.net/index.php?ip=216.146.38.70 (http://checkip.dyndns.org)

`details
Pattern match: "http://tempuri.org/IService/UploadFileT"

[2017-09-19 15:51] mzomparelli commented on #97
73.209.134.9 is where updates come from. It's my personal server. Certain exceptions are logged here too so that the program can be improved for everyone.  This is the only connection that needs to be enabled to receive updates.

216.146.38.70 is a service I use so I can get your IP address for the purpose of geolocation. I am using this info to determine where I should start with additional langu

[2017-09-19 16:27] oywino opened #98 "UPDATE AVAILABLE ?"
Hi, Version 1.0.66 is running right now and it says (In bright yellow uppercase characters) that an update is available. But clicking on that menu item or anywhere else, does not initiate any update.
What am I missing here?

[2017-09-19 18:11] mzomparelli commented on #98
You aren't missing anything. There is a bug that when it can't connect to my server it says there is an update in yellow on that menu option. I will fix this in 1.0.67.

[2017-09-19 18:58] mzomparelli commented on #98
![](https://github.trello.services/images/mini-trello-icon.png) [Update Available Bug on Menu Item](https://trello.com/c/XCdTCFWE/18-update-available-bug-on-menu-item)

[2017-09-19 21:59] mzomparelli commented on #98
The server connections have been messed up because the server and the host OS are performing Windows updates. It will be back to normal soon. I will also fix this bug so that if a connection to my server can't be established it will not tell you there is an update.

[2017-09-19 22:39] mzomparelli commented on #98
fixed in version 1.0.67. It will get released with other fixes later tonight or tomorrow.

[2017-09-20 09:02] #97 closed, assigned to nobody

[2017-09-20 09:13] gitty8 opened #99 "Window overlap on 8 Desktops and horizontal scroll issue"
One machine being used with 7+ Desktops:
https://i.imgur.com/3y3TmTZ.png
We have overlap between the desktops and on the bottom. And horizontal scroll not works.

[2017-09-20 11:16] mzomparelli commented on #99
This is fixed in version 1.0.67 which will be released tonight.

[2017-09-21 00:47] mzomparelli commented on #99
Just published v1.0.67. Re-open or create a new issue if you experience this issue again.

[2017-09-21 00:47] #99 closed, assigned to mzomparelli

[2017-09-21 00:48] #98 closed, assigned to mzomparelli

[2017-09-21 06:27] funkyspacecadet opened #100 "Keyboard hook seems to induce some lag."
Hi,

I just discovered this app and it's amazing!

There appears to be an issue with enabling keyboard hook.
I don't use mouse hook as it renders the mouse too unresponsive for me.

Symptoms: When enabled, some tasks in apps that require drag & drop/ dragging items around, when a modifier key is held down becomes slower/less responsive, such as in Inkscape, Firefox etc

I also use Autohotkey as I

[2017-09-21 13:19] mzomparelli commented on #100
First off, thanks for trying zVD. I'm glad you like it.

The issue for you is still the mouse hook. The keyboard hook won't really cause problems because there simply isn't enough events for it to cause a bottle neck. The mouse hook triggers an event every time the mouse moves so you can see this would equate to a lot of events. When you turn off the mouse hook in the settings window it will still

[2017-09-21 13:20] mzomparelli commented on #100
![](https://github.trello.services/images/mini-trello-icon.png) [Allow Permanent Mouse Hook Disable](https://trello.com/c/w4Se14Jy/10-allow-permanent-mouse-hook-disable)

[2017-09-21 23:09] #67 closed, assigned to mzomparelli

[2017-09-22 00:53] M3Rocket opened #101 "High CPU Usage"
zVD v1.0.67 always hovers between 8% to 10% CPU usage on my setup. And I have a very fast i7-6700K at 4GHz and 32Gb of RAM running Windows 10 Pro Creators (v1703). I was using MoveToDesktop before, and have to move back since I have tried but can't seem to lower the zVD CPU usage.

I have tried quiting and restarting zVD, and that would reset the CPU usage. But after a few minutes of just using my

[2017-09-22 02:01] mzomparelli commented on #101
I published a slightly modified version about an hour ago. The code that was removed a few hours ago was testing another approach for getting all windows for the DesktopView. It was not finished or used at all just some setup and it could have been that causing the high CPU. I'm going to put that code back in and test it out. You can try getting a new version of 1.0.67 using the main download link

[2017-09-22 02:10] mzomparelli commented on #101
I'm not able to reproduce the high CPU with or without that code so I'm not sure downloading that version would help.

None of the changes I made to 1.0.67 should be causing this. Is it possible that the issue existed before 1.0.67?

[2017-09-22 02:14] mzomparelli commented on #101
Try turning off the mouse hook ----- Settings->More Settings

[2017-09-22 19:28] M3Rocket commented on #101
Been using the new version you posted here for a few hours, and it seems like the CPU usage problem is fixed. At least so far... Will be keeping tabs on this.

[2017-09-22 19:55] mzomparelli commented on #101
I'm glad to hear that. Thanks for letting me know.

[2017-09-23 04:01] mzomparelli commented on #45
This is coming in version 1.0.68. Currently not configurable, but will change that as soon as I handle the losing of settings when I alter the settings structure.

[2017-09-23 16:17] giggio commented on #96
+1 for using Chocolatey. It is how I install everything.

[2017-09-23 23:16] mzomparelli commented on #96
ok, I'll reopen this and see what i can do.

[2017-09-24 07:37] #101 closed, assigned to mzomparelli

[2017-09-24 15:58] fluffynuts commented on #96
I, for one, would be interested in learning from your code, if it were open-sourced. I (feebly) attempted something like what you've done ages ago, and I'd love to learn what you learned to get it right (because I very obviously didn't). Indeed, I only learned of this project because of the discussions I've had with a friend over my failed attempts -- he recently pointed me here, and I'm really en

[2017-09-24 18:23] mzomparelli commented on #96
@jan-glx you are right. There is some selfishness involved here. You are also correct that a keylogger can be injected into zVD and distributed.  I'm going to make some changes to help my users test for a safe app by using suggestions by fluffynuts.

@fluffynuts, your suggestions are very good and I plan to implement some of them. Specifically, a formal landing page that describes zVD and shows th

[2017-09-24 21:09] Marcus-L commented on #96
Thanks for re-opening this issue @mzomparelli. Everyone else -- discussion here is getting off-topic from the packaging issue, I suggest moving further discussion about the source code and rootkit/security to a different issue.

[2017-09-24 21:12] #45 closed, assigned to mzomparelli

[2017-09-24 21:17] mzomparelli opened #102 "Desktop Overlay Feedback & Discussion"
I have released a new 1.0.67 binary that includes a desktop overlay when switching desktops. Using this thread or Trello, we can discuss the overlay.

In future release I would like to add the ability to configure the overlay. This would include the following:

-Text color
-Text Font
-Text Size
-Duration of overlay
-Screen position

To download the version that has the overlay simply use the link

[2017-09-24 21:21] mzomparelli commented on #102
![](https://github.trello.services/images/mini-trello-icon.png) [Allow Overlay to be configurable](https://trello.com/c/GmvoYFi3/20-allow-overlay-to-be-configurable)

[2017-09-24 21:26] mzomparelli commented on #96
![](https://github.trello.services/images/mini-trello-icon.png) [Create Chocolaty Package](https://trello.com/c/xSZ7hwXy/22-create-chocolaty-package)

[2017-09-25 14:28] nicolasdejong opened #103 "Hotkey save crash"
After upgrading had to set my wallpapers and hotkeys again.

Setting a hotkey action caused a crash:

![image](https://user-images.githubusercontent.com/12181216/30813825-ca9339ec-a20e-11e7-8721-c2d5ae2fd15b.png)

(ALT should have been CTRL, worked ok when I did that)

[2017-09-25 16:24] mzomparelli commented on #103
I have confirmed this bug. This will be fixed in 1.0.68.

[2017-09-25 16:25] mzomparelli commented on #103
![](https://github.trello.services/images/mini-trello-icon.png) [Save Hotkey Bug/Crash](https://trello.com/c/lmvfmFpc/23-save-hotkey-bug-crash)

[2017-09-25 16:37] nicolasdejong commented on #102
While I know that for some this is a very interesting feature, for me this is not required. Therefore I would like the option to switch if off, either by an explicit switch, or implicitly when the title is empty. Now it shows 'Desktop N', even if no title is set.

[2017-09-25 17:06] mzomparelli commented on #102
Ok, one of the features is going to be disabling it completely. Thanks for the feedback.

[2017-09-25 23:07] mzomparelli commented on #103
This will crash every time if you replace a hotkey and I'm surprised no one mentioned it yet. Technically it should not have even compiled. I have corrected this bug and published a new version of 1.0.67. Anyone can download a new binary or wait for 1.0.68 to be released in a few days.

This would not occur if you edited the original. What happened here is that you tried to create a hotkey that al

[2017-09-25 23:19] mzomparelli commented on #103
Also, I'm working on the issue with losing settings when I change the settings structure. I need to address that issue before I make the Overlay configurable because doing so will require that I alter the settings structure.

[2017-09-26 04:58] nicolasdejong commented on #103
Thanks. I appreciate the work you put in there.

[2017-09-26 05:38] fluffynuts opened #104 "Persist pinned apps"
One of the reasons I couldn't use the native desktops provided by Win10 is because there was no way to pin an app across all desktops. I run a dual-head display and I always want my browser on the left display, irrespective of which desktop I'm on (though I use desktops to separate working concerns).

zVD does this, but one feature I'd really like would be to be able to configure persistent settin

[2017-09-26 13:18] mzomparelli commented on #104
It sounds like you want to be able to force certain windows to always load on a specific desktop. That is exactly what that other issue is referring to. It also sounds like you want to take that up a level and be able to control specific window settings as well. Like Maximize and minimize. Am I understanding you correctly?

[2017-09-26 13:44] fluffynuts commented on #104
Yes to the first part -- I'd like to force certain windows to load on a specific desktop (my use-case is ALL desktops, but I'm sure the logic is similar -- although you already have the logic for pinning an app to all desktops, so perhaps not really).
I don't really want to control window settings like Maximise and Minimise though. Not sure if anyone else wants this though.

Basically, the use-cas

[2017-09-26 14:31] mzomparelli commented on #104
![](https://github.trello.services/images/mini-trello-icon.png) [Glued Apps](https://trello.com/c/tPc8Dt0N/4-glued-apps)

[2017-09-26 22:21] mzomparelli commented on #104
How would you feel if it took a few seconds after you open the app to recognize it and send it where it should be? In your case it would pin the window as soon as it was recognized.

[2017-09-27 04:09] fluffynuts commented on #104
I recognize that the solution probably lies in polling windows, so I accept that the final outcome may not be instantaneous. I would suggest that a delay of 500ms or less would feel practically instant to the user - not sure if this is practical?

[2017-09-27 10:33] jjhidalgar commented on #100
I will use this issue to tell my problems with the keyboard hook.

The thing is that my example is kindof funny because it happens inside a game (league of legends).

I currently have version 1.0.67 with keyboard hooks enabled and mouse hooks disabled.

Whenever inside the game, I press ALT (or CTRL too) and then DRAG, while dragging the mouse sensibility becomes incredibly high, so high that even

[2017-09-27 12:18] mzomparelli commented on #100
The issue is not the keyboard hook. When you turn off the mouse hook it will still come on when pressing a modifier key and the symptoms you describe are the result of the mouse hook. In version 1.0.68 you will be able to turn off the mouse hook completely.

[2017-09-27 12:34] jjhidalgar commented on #100
Awesome.

[2017-09-27 22:38] mzomparelli commented on #100
I understand how frustrating the mouse lag can be so I went in and removed the code that starts the hook when a modifier is pressed and published this as a new 1.0.67. I might add an option to turn it on with modifier in the future. I'm confident this will resolve your the lag issues. If you are still experiencing issues let me know.

https://zomp.co/files.aspx?id=zvd

[2017-09-28 07:42] jjhidalgar commented on #100
It works :P

[2017-09-29 01:26] mzomparelli opened #105 "WARNING! Avoid losing your settings when updating to 1.0.68"
In version 1.0.68 the settings file is moving to its own folder in AppData.

In order to avoid losing your settings you need to locate and copy your settings file to a specific location.

This is the path on my PC. You can get to the roaming folder by typing `%appdata%` into file explorer address bar.
`C:\Users\mzomp\AppData\Roaming\zVirtualDesktop\zVirtualDesktop_Settings.bin`

You will need to c

[2017-09-29 22:05] M3Rocket commented on #104
I think it is sufficient to have a option on the menu that allows someone to just rearrange all the windows of opened apps. That way, upon startup, I'd just open all the apps, then hit one menu selection on the tray to "arrange" all the open windows on the different desktops.

[2017-09-30 02:44] mzomparelli commented on #104
@M3Rocket  so you're saying pre-configure how windows should be arranged, but have the option to only apply it when you ask for it?

[2017-09-30 05:39] fluffynuts commented on #104
I'm not really a fan of this idea. I'm going to end up hurting that button so often as I restart apps (like Firefox nightly), open them late because I don't remember (outlook - some days I forget to open it for ages and people wonder why I don't respond to mails 😒) or open new instances (visual studio). I'd really like this to "just happen" when an app opens.

[2017-09-30 09:29] M3Rocket commented on #104
I would want the option to turn off that option then--I do not want a process polling multiple windows all the time. I much prefer this app to retain a low profile, small footprint and use as few resources as possible.

I tend to load up up to 10 desktops with different "tasks" in mind. All of them have a Chrome window open for instance. But I don't usually open many other applications in multiple

[2017-09-30 18:31] mzomparelli commented on #104
My plan was to implement this like pinning windows. Instead you will click something like glue window and this will prevent the window from moving to another desktop and will automatically move new windows to the desktop you pre-configured for that window.

[2017-10-01 01:09] mzomparelli commented on #95
https://github.com/mzomparelli/zVirtualDesktop/issues/105

[2017-10-02 14:23] mzomparelli commented on #105
1.0.68 was released on 10/1/2017. If you updated before moving your old settings file then you are still ok. Just close zVD and follow the steps above. You will now need to replace the defaulted settings file in %AppData%.

[2017-10-02 14:27] mzomparelli opened #106 "Desktop Timers - So you can quantify the time you spend on each desktop"
I added this feature in 1.0.68. Pretty basic at this point. You can only see the time in DesktopView. To reset the time simply double click on the timer label. Doing so will first copy the text of that label to your clipboard.

Let's discuss the usefulness of this and ways to improve it.

[2017-10-02 17:16] oywino opened #107 "Unhandled exception"
Today, I got this message during setting of short-cut keys:
[https://imgur.com/538Hl7Q](https://imgur.com/538Hl7Q)
Followed by a list of details:
`See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

************** Exception Text **************
System.ArgumentOutOfRangeException: Index was out of range. Must be non-negative and less than the

[2017-10-02 17:22] mzomparelli commented on #107
Refer to this for losing your settings. You can get them back if you follow that. Going forward you should not lose settings.
https://github.com/mzomparelli/zVirtualDesktop/issues/105

For the error though...What hotkey did you try and setup? Does it already exist? I see where the error is happening, but I can't tell why.

[2017-10-02 19:58] mzomparelli commented on #107
I figured out what happened here. I will fix tonight.

[2017-10-02 22:00] mzomparelli commented on #107
So, I think what you did here was edit a hotkey and chose a new hotkey. I mishandled that. I'm going to publish another 1.0.68 soon to correct this issue.

[2017-10-02 22:05] oywino commented on #107
Yes, that's correct. I tried to edit a hotkey (mouse), but it failed. So I found I first had to delete the key and then recreate it.

[2017-10-02 22:23] mzomparelli commented on #107
I published a new 1.0.68 for you to test out and try and reproduce what you did to check if the issue is resolved.

https://zomp.co/files.aspx?id=zvd

[2017-10-02 22:44] mzomparelli commented on #107
Thanks for posting the stack trace (that's the piece that I left after editing you issue text). That allows me to see exactly where the error occurred. Some users only post screen shots of the error box which is mostly useless.

[2017-10-02 23:04] mzomparelli commented on #92
Mouse can be disabled permanently in 1.0.68

[2017-10-02 23:04] #92 closed, assigned to mzomparelli

[2017-10-02 23:06] mzomparelli commented on #95
No more lost settings for version 1.0.68 and up. If you lost your settings after upgrading to 1.0.68 then refer to issue #105 for help on restoring them.

[2017-10-02 23:06] #95 closed, assigned to mzomparelli

[2017-10-02 23:07] #100 closed, assigned to mzomparelli

[2017-10-02 23:07] #103 closed, assigned to mzomparelli

[2017-10-02 23:22] mzomparelli commented on #106
Any usefulness in knowing the time for each window? I see it being good. I can use filenames to tie to a larger project to create a more accurate time.

[2017-10-03 00:23] mzomparelli commented on #63
While I like this idea, I still have issues with the thumbnails being on top of everything and that would look very messed up with a row at the bottom. This will be in my mind for when I deal with the bug. Screw it, I'll reopen as motivation.

[2017-10-03 00:26] mzomparelli opened #108 "DesktopView - Thumbnails on top of everything"
I need to deal with this now since it interferes with the my plans for DesktopView. - https://github.com/mzomparelli/zVirtualDesktop/issues/63

[2017-10-03 10:56] jjhidalgar opened #109 "Multiple monitors desktop view problem"
In case no one tried, using desktop view in a secondary monitor will trigger desktop view with the main monitor´s resolution, failing to fit in the screen and spanding to the next monitor.

https://i.imgur.com/ajwhN8W.png

[2017-10-03 11:19] mzomparelli commented on #109
I figured this was an issue. I only use monitors of the same size so I never noticed. I'll correct this issue.

[2017-10-03 22:57] mzomparelli commented on #109
I don't feel like adjusting the resolutions on my monitors. That's pure laziness lol. This new version will use the screen for which your mouse is located just like how the DesktopView window pops up. Please try this out and let me know if it resolves the issue. I plan on putting in a better fix, but this should work for now.

https://zomp.co/files.aspx?id=zvd

[2017-10-04 06:34] jjhidalgar commented on #109
I'll try today in a few hours

[2017-10-04 09:27] jjhidalgar commented on #109
@mzomparelli It works.

[2017-10-04 09:27] #109 closed, assigned to mzomparelli

[2017-10-05 02:18] #107 closed, assigned to mzomparelli

[2017-10-05 04:16] M3Rocket opened #110 "Switching desktops activates or causes Auto-Hide Taskbar to remain on screen - Software Conflict - Directory Opus"
There is an option in Windows to Auto-Hide the Taskbar. When I use zVD to switch desktops using the direct shortcut (Ctrl-WIN-2 for instance) or when I activate the "Round Robin" feature, the taskbar always auto-shows and I have to find the application that is activating it to auto-hide it again. Whereas if I use the Windows keys to change desktops (Ctrl-WIN-Left and -Right) without Round Robin op

[2017-10-05 04:47] mzomparelli commented on #110
I just tried to reproduce your issue, but I was unsuccessful. The Taskbar remained hidden as I cycled through desktops and only reappeared when I moved my mouse to the bottom where the taskbar would be.

I did manage to get the Taskbar to popup when selecting a thumbnail in DesktopView. I use code to focus the window in that case, but there is no such focus code when switching desktops using hotke

[2017-10-05 04:56] mzomparelli commented on #110
When I use the Move with Follow hotkey it does make the Taskbar popup, but then it disappears as quickly as it came.

[2017-10-05 07:03] M3Rocket commented on #110
I am able to reproduce it by simply turning on and off the Round Robin feature. I think it's related to that.

May also be related to certain applications? I have seen this with Chrome, Teamviewer, Directory Opus.

[2017-10-05 11:02] mzomparelli commented on #110
I use TeamViewer and Chrome and have Round Robin enabled. Let me look into the Directory Opus application.

[2017-10-05 22:37] mzomparelli commented on #110
Wow, Directory Opus looks pretty sweet. I don't want to download it on my dev machine until I know for sure it is not the culprit. I'm loading it into virtual machine now. I'll report back soon.

[2017-10-05 23:25] mzomparelli commented on #110
I'm unable reproduce this issue in a fresh virtual machine with only Chrome, zVD, and Directory Opus.

Any other programs that you think might be contributing to this issue? Is it possible that you have a hotkey in Directory Opus that is interfering? I'm testing it now. DirectoryOpus has a lot of hotkeys and it's likely it is using a keyboard hook. If Directory Opus is executed before zVD then it